{% import "entry_macros.html" as macros %}

{% set is_manager = current_user.is_manager %}
{% set is_admin = current_user.is_admin %}

<!-- Modal to with a Form to create a new Session -->
<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
  <div class="modal-content">

    <!-- Modal header -->
    <div class="modal-header">
        <h3 class="modal-title" id="session-modal-title"> Create Session:  </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- End of Modal header -->

    <!-- Modal body -->
    <div class="modal-body">
    <input type="hidden" id="booking-id" value="{{ booking.id }}">

    <!-- Create Session Form -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <form id="session-form" data-parsley-validate="" novalidate="">

            <div class="tab-regular">
                <ul class="nav nav-tabs nav-fill" id="myTab7" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link active" id="session-general-tab" data-toggle="tab" href="#session-general" role="tab" aria-controls="current" aria-selected="true">General</a>
                    </li>
{##}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" id="session-acq-tab" data-toggle="tab" href="#session-acq" role="tab" aria-controls="past" aria-selected="false">Acquisition</a>#}
{#                    </li>#}

                    {% if is_admin %}
                    <li class="nav-item">
                        <a class="nav-link" id="session-advanced-tab" data-toggle="tab" href="#session-advanced" role="tab" aria-controls="summary" aria-selected="false">Advanced</a>
                    </li>
                    {% endif %}

                </ul>

                <div class="tab-content" id="myTabContent7">

                    <!-- tab "Current" -->
                    <div class="tab-pane fade show active" id="session-general" role="tabpanel" aria-labelledby="session-general-tab">

                    <div class="row">
                        <div class="col-7">
                            <!-- Session's Name -->
                            <div class="form-group row col">
                                <h3 class="col-12 col-sm-3 col-form-label text-sm-right">Session Folder</h3>
                                <div class="col-12 col-sm-8 col-lg-6">
                                        <select id="session-folder-select" class="selectpicker show-tick" data-key="session_name">
                                            <option value=""></option>
                                            {% for f in frame_folders %}
                                                <option value="{{ f['name'] }}" data-subtext="{{ f['modified']|pretty_elapsed }}">{{ f['name'] }}</option>
                                            {% endfor %}
                                        </select>
                                </div>
                            </div>

                            <!-- Owner Row -->
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Owner</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <h4 class="col-12 text-sm-left">{{ booking.owner.name }}</h4>
                                </div>
                            </div>

                            <!-- Operator Row -->
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Staff</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-left">{{ booking.operator.name }}</label>
                                </div>
                            </div>

                            <!-- Microscope Row -->
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Microscope</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <div class="row align-items-center justify-content-start">
                                    <div class="col">
                                        <img src="{{ url_for('images.static', filename=booking.resource.image) }}" alt="{{ booking.resource.name }}" width="48" style="margin-right: 0;">
                                    </div>
                                    <div class="col-10 text-sm-left">
                                        <h5>{{ booking.resource.name }}</h5>
                                    </div>
                                </div>

                                </div>
                            </div>

                            <!-- Project id -->
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Project ID</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <select id="session-projectid-select" class="selectpicker show-tick" data-live-search="true" data-key="project_id">
                                        <option value="0">Not set</option>
                                        {% for p in projects %}
                                            {% set selected = 'selected' if p.id == booking.project.id else '' %}
                                            <option {{ selected }} value="{{ p.id }}">{{ p.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="col-5 p-0 m-0">
                            {{ macros.session_dialog_row('Voltage (kV)', 'acq_voltage', acquisition['voltage'], '') }}
                            {{ macros.session_dialog_row('Magnification', 'acq_magnification', acquisition['magnification'], '') }}
                            {{ macros.session_dialog_row('Pixel Size (A/px)', 'acq_pixel_size', acquisition['pixel_size'], '') }}
                            {{ macros.session_dialog_row('CS', 'acq_cs', acquisition['cs'], '') }}
                            {{ macros.session_dialog_row('Dose (per frame)', 'acq_dose', acquisition['dose'], '') }}
                        </div>

                    </div>

                    </div>

{#                <div class="tab-pane fade" id="session-acq" role="tabpanel" aria-labelledby="session-acq-tab">#}
{##}
{#                </div>#}

                {% if is_admin %}
                    <div class="tab-pane fade" id="session-advanced" role="tabpanel" aria-labelledby="session-advanced-tab">
                        {{ macros.session_dialog_row('RAW data folder', 'raw_folder', '', 'Provide RAW data folder') }}
                        {{ macros.session_dialog_row('OTF folder', 'otf_folder', '', 'If OTF folder is not provided it will be created') }}

                            <!-- OTF host -->
                            <div class="form-group row ">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Transfer Host</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-left">{{ transfer_host }}</label>
                                </div>
                            </div>

                            <!-- OTF host -->
                            <div class="form-group row ">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">OTF Host</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                   <select id="otf_host-select" class="selectpicker" data-key="otf_host">
                                        {% for h in otf_hosts %}
                                            {% set selected = 'selected' if h == otf_host_default else '' %}
                                            <option value="{{ h }}" {{ selected }}>{{ h }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <!-- OTF workflow -->
                            <div class="form-group row ">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">OTF Workflow</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                   <select id="otf_workflow-select" class="selectpicker" data-key="otf_workflow">
                                       {% for w in workflows %}
                                           {% set selected = 'selected' if w == workflow_default else '' %}
                                           <option value="{{ w }}" {{ selected }}>{{ w }}</option>
                                       {% endfor %}
                                    </select>
                                </div>
                            </div>
                    </div>
                {% endif %}

                </div>

            </div>
        </form>
    </div>
    <!-- end Booking Form -->

</div>
    <!-- End of Modal body -->

    <!-- Modal footer -->
    <div class="modal-footer">
        <button type="button" id="booking-btn-cancel"  class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="booking-btn-ok" class="btn btn-outline-dark" onclick="onCreateClick()">Create</button>
    </div>
    <!-- End of Modal footer -->

  </div> <!-- End of modal-content -->
</div> <!-- end of modal-dialog -->

<!-- javascript  -->
<script>
    $('select').selectpicker();

    var transfer_host = {{ transfer_host|tojson }};
    var workflow_default = {{ workflow_default|tojson }};
    var otf_host_default = {{ otf_host_default|tojson }};
    var otf_host = null;

    function onCreateClick(){
        var formValues = getFormAsJson('session-form');
        var attrs = {
            booking_id: parseInt(document.getElementById('booking-id').value),
            acquisition: {
                voltage: formValues.acq_voltage,
                magnification: formValues.acq_magnification,
                pixel_size: formValues.acq_pixel_size,
                dose: formValues.acq_dose,
                cs: formValues.acq_cs
            },
        }

        // Raw folder is provided only for speciall debugging cases
        // then, no transfer task will be schedule and the session name
        // will be taken from the raw path
        let sessionName = nonEmpty(formValues.raw_folder) ? formValues.raw_folder.split('/').pop() : formValues.session_name;

        if (nonEmpty(sessionName)) {
            attrs.name = sessionName;
            otf_host = getObjectValue(formValues, 'otf_host', otf_host_default);
            var otf_task = [otf_host, {action: 'otf'}];

            if (!formValues.raw_folder){
                attrs.extra = {
                    raw: {},
                    project_id: formValues.project_id,
                }
                attrs.tasks = [[transfer_host, {action: 'transfer'}], otf_task]
            }
            else {
                attrs.extra = {
                    raw: {path: formValues.raw_folder},
                    project_id: formValues.project_id
                }
                attrs.tasks = [[otf_host, {action: "monitor"}], otf_task]
            }

            if (!formValues.otf_folder)
                attrs.extra.otf = {
                    workflow: getObjectValue(formValues, 'otf_workflow', workflow_default),
                    host: getObjectValue(formValues, 'otf_host', otf_host_default),
                    cryolo_model: getObjectValue(formValues, 'cryolo_model', '')
                }
            else
                attrs.extra.otf  = {path: otf_folder}
        }

        // If there is a session
        var regex = /^[a-zA-Z0-9-_]{2,64}$/;
        var valid_name = nonEmpty(attrs.name) && regex.test(attrs.name);

        if (!valid_name) {
            showError("Provide a valid <strong>Session Name</strong>.<br>" +
                "<p>It must have from 2 to 32 digits, containing letters, numbers, slash or underscore.</p>");
            return;
        }

        // showError(JSON.stringify(attrs, null, 4));
        // return

        // Add unique prefix to avoid session name clashes
        attrs.name = "{{ session_name_prefix }}" + attrs.name;

        var ajaxContent = $.ajax({
            url: "{{ url_for('api.create_session') }}",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({attrs: attrs}),
            dataType: "json"
        });

        ajaxContent.done(function(jsonResponse) {
            //alert(JSON.stringify(jsonResponse, null, 4));

            if ('error' in jsonResponse)
                showError(jsonResponse['error']);
            else {
                //window.location.reload();
                window.location = "{{ url_for_content('session_default') }}" + "&session_id=" + jsonResponse.session.id;
            }
        });

        ajaxContent.fail(function(jqXHR, textStatus) {
            alert( "Request failed: " + textStatus );
        });
    }

    (function(window, document, $, undefined) {
        // Initialization code goes here
    })(window, document, window.jQuery);

</script>
