{% import "entry_macros.html" as macros %}

{% set is_manager = current_user.is_manager %}
{% set is_admin = current_user.is_admin %}

<!-- Modal body -->
<div class="modal-body">
    <input type="hidden" id="booking-id" value="{{ booking.id }}">

<!-- Create Session Form -->
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <form id="session-form" data-parsley-validate="" novalidate="">

        <div class="tab-regular">
                <ul class="nav nav-tabs nav-fill" id="myTab7" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link active" id="session-general-tab" data-toggle="tab" href="#session-general" role="tab" aria-controls="current" aria-selected="true">General</a>
                    </li>

                    {% if is_manager %}
                    <li class="nav-item">
                        <a class="nav-link" id="session-acq-tab" data-toggle="tab" href="#session-acq" role="tab" aria-controls="past" aria-selected="false">Acquisition</a>
                    </li>
                    {% endif %}

                    {% if is_admin %}
                    <li class="nav-item">
                        <a class="nav-link" id="session-advanced-tab" data-toggle="tab" href="#session-advanced" role="tab" aria-controls="summary" aria-selected="false">Advanced</a>
                    </li>
                    {% endif %}

                </ul>

                <div class="tab-content" id="myTabContent7">

                    <!-- tab "Current" -->
                    <div class="tab-pane fade show active" id="session-general" role="tabpanel" aria-labelledby="session-general-tab">

                            <!-- Session's Name -->
                            <div class="form-group row">
                                <h3 class="col-12 col-sm-3 col-form-label text-sm-right">Session Name</h3>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <input type="text" required="" placeholder="Provide a session name (up to 16 digits: letters, numbers, underscore or dash)" id="session-name" data-key="session_name" class="form-control" value="">
                                </div>
                            </div>

                            <!-- Owner Row -->
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Owner</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <h4 class="col-12 text-sm-left">{{ booking.owner.name }}</h4>
                                </div>
                            </div>

                            <!-- Operator Row -->
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Staff</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-left">{{ booking.operator.name }}</label>
                                </div>
                            </div>

                            <!-- Microscope Row -->
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Microscope</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <div class="row align-items-center justify-content-start">
                                    <div class="col">
                                        <img src="{{ url_for('images.static', filename=booking.resource.image) }}" alt="{{ booking.resource.name }}" width="48" style="margin-right: 0;">

                                    </div>
                                    <div class="col-10 text-sm-left">
                                        <h5>{{ booking.resource.name }}</h5>
                                    </div>
                                </div>

                                </div>
                            </div>

                            <!-- Project id -->
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Project ID</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <select id="session-projectid-select" class="selectpicker show-tick" data-live-search="true" data-key="project_id">
                                        <option value="0">Not set</option>
                                        {% for p in projects %}
                                            {% set selected = 'selected' if p.id == booking.project.id else '' %}
                                            <option {{ selected }} value="{{ p.id }}">{{ p.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                    </div>

                <!-- OTF extra params only visible to manager for now -->
                <div class="tab-pane fade" id="session-acq" role="tabpanel" aria-labelledby="session-acq-tab">
                    {{ macros.session_dialog_row('Voltage (kV)', 'acq_voltage', acquisition['voltage'], '') }}
                    {{ macros.session_dialog_row('Magnification', 'acq_magnification', acquisition['magnification'], '') }}
                    {{ macros.session_dialog_row('Pixel Size (A/px)', 'acq_pixel_size', acquisition['pixel_size'], '') }}
                    {{ macros.session_dialog_row('CS', 'acq_cs', acquisition['cs'], '') }}
                    {{ macros.session_dialog_row('Dose (per frame)', 'acq_dose', acquisition['dose'], '') }}
                </div>


                    {% if is_admin %}
                        <div class="tab-pane fade" id="session-advanced" role="tabpanel" aria-labelledby="session-advanced-tab">
                            {{ macros.session_dialog_row('RAW data folder', 'raw_folder', '', 'Provide RAW data folder') }}
                            {{ macros.session_dialog_row('OTF folder', 'otf_folder', '', 'If OTF folder is not provided it will be created') }}

                                <!-- OTF host -->
                                <div class="form-group row ">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">OTF Host</label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                       <select id="otf_host-select" class="selectpicker" data-key="otf_host">
                                            {% for h in otf_hosts %}
                                                {% set selected = 'selected' if h == otf_host_default else '' %}
                                                <option value="{{ h }}" {{ selected }}>{{ h }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <!-- OTF workflow -->
                                <div class="form-group row ">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">OTF Workflow</label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                       <select id="otf_workflow-select" class="selectpicker" data-key="otf_workflow">
                                           {% for w in workflows %}
                                               {% set selected = 'selected' if w == workflow_default else '' %}
                                               <option value="{{ w }}" {{ selected }}>{{ w }}</option>
                                           {% endfor %}

{#                                            <option selected value="default">default</option>#}
{#                                            <option value="relion">relion</option>#}
{#                                            <option value="scipion">scipion</option>#}
{#                                            <option value="none">none</option>#}
                                        </select>
                                    </div>
                                </div>
                        </div>
                    {% endif %}

                </div>

        </div>


{#        <div class="form-group row ">#}
{#            <label class="col-12 col-sm-3 col-form-label text-sm-right">Cryolo Picking Model</label>#}
{#            <div class="col-12 col-sm-8 col-lg-6">#}
{#               <select id="cryolo_model-select" class="selectpicker" data-key="cryolo_model">#}
{#                    <option selected value="general">general</option>#}
{#                    {% for model_key, model_value in cryolo_models.items() %}#}
{#                        <option value="{{ model_value }}">{{ model_key }}</option>#}
{#                   {% endfor %}#}
{#                </select>#}
{#            </div>#}
{#        </div>#}

    </form>
</div>
<!-- end Booking Form -->

</div>
<!-- End of Modal body -->

