{% import "entry_macros.html" as macros %}

<!-- Session Macro definitions -->
{% macro row(title, value, label) -%}
    {% set class = label or 'label' %}
    <div class="row">
        <label class="col-12 col-sm-4 col-form-label text-sm-right">{{ title }}</label>
        <div class="col-12 col-sm-8 col-lg-6">
            <{{ class }} class="col-12 text-sm-left col-form-label ">{{ value }}</{{ class }}>
        </div>
    </div>
{%- endmacro %}

<!-- Session details Card -->
{% set booking = session.booking %}
{% set is_manager = current_user.is_manager %}

{% if not booking %}
    <div>
        <h2 style="color: red">Error: This Session does not have a booking</h2>
        <p>This should not happen, please report this issue to the administrator. </p>
    </div>

{% else %}
    {% set owner = booking.owner %}
    {% set pi = owner.get_pi() %}

    {% if is_manager or current_user.same_pi(owner) %}

        <!-- Create a layout with two columns, left column with two panes -->
        <div class="row">

            <!-- Left column -->
            <div class="col-6">

                <div class="row">

                    <div class="col-12">
                        <div class="card"> <!-- Overview Card -->
                            <div class="card-header">
                                <h3 class="card-header-title"> Overview </h3>
                            </div>
                             <div class="card-body">
                                <div class="col-12">
                                    <form id="session-form" data-parsley-validate="" novalidate="">

                                        {{ row('Session Name', session.shortname, 'h4') }}
                                        {{ row('Owner', owner.name, 'h4') }}
                                        {{ row('PI', owner.pi.name) }}
                                        {{ row('Project', macros.project(session.project, True), 'div') }}
                                        {{ row('Creator', booking.creator.name) }}
                                        {{ row('Staff', booking.operator.name) }}
                                        {{ row('Date', session.start|pretty_date) }}
                                        {{ row('Status', session.status) }}

                                        <!-- Microscope Row -->
                                        <div class="row">
                                            <label class="col-12 col-sm-4 col-form-label text-sm-right">Microscope</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <div class="row align-items-center justify-content-start">
                                                <div class="col">
                                                    <img src="{{ url_for('images.static', filename=booking.resource.image) }}" alt="{{ booking.resource.name }}" width="48" style="margin-right: 0;">
                                                </div>
                                                <div class="col-10 text-sm-left">
                                                    <h5>{{ booking.resource.name }}</h5>
                                                </div>
                                            </div>
                                            </div>
                                        </div>

                                         <!-- On the fly  Row -->
                                        <div class="row">
                                            <label class="col-12 col-sm-4 col-form-label text-sm-right">On-the-fly</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <a href="{{ url_for_content('session_live', session_id=session.id) }}">{{ session.data_path }}</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div> <!-- Overview Card -->
                    </div>

                    <div class="col-12">
                        <div class="card"> <!-- Acquisition Card -->
                            <div class="card-header">
                                <h3 class="card-header-title"> Acquisition </h3>
                            </div>

                            <div class="card-body">
                                {% set acq = session.acquisition %}
                                {% set stats = session.stats %}
                                <table class="table table-striped table-bordered">
                                    <tbody>
                                        {{ macros.trow('Voltage (kV)', acq['voltage']) }}
                                        {{ macros.trow('Magnification', acq['magnification']) }}
                                        {{ macros.trow('Pixel Size (A/px)', acq['pixel_size']) }}
                                        {{ macros.trow('CS', acq['cs']) }}
                                        {{ macros.trow('Dose (per frame)', acq['dose']) }}

                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- End of Acquisition Card -->
                    </div>

                </div>

            </div> <!-- End of Left column -->

            <!-- Right column -->
            <div class="col-6" id="data-container">

                    {% include 'session_data_card.html' %}

            </div> <!-- End of Right column -->
        </div>

    {% else %}
        <div>
        <h2>You do not have access to this information.</h2>
        <p>A session is only visible by people on the same lab </p>
        </div>
    {% endif %}

{% endif %}


<script>

(function(window, document, $, undefined) {
    "use strict";
    $(function() {

    });
})(window, document, window.jQuery);

</script>