<!-- left sidebar -->
<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">

                    <li class="nav-divider"> PROCESSING </li>

                    <ul class="nav flex-column submenu">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for_content('processing_tomo_list') }}">
                                <i class="fas fa-cubes"></i>Tomography</a>
                        </li>
                    </ul>

                    <ul class="nav flex-column submenu">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for_content('fibsem_sessions_list') }}">
                                <i class="fas fa-object-group"></i>FIBSEM</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- end left sidebar -->