<!-- ============================================================== -->
<!-- Dynamic Form -->
<!-- ============================================================== -->

{# Expects 'table' as input param. #}

  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content" style="background-color: #f5f5f5">
      <div class="modal-body">
        <div class="row">

        {% include "dynamic_table.html" %}

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" id="costs-btn-cancel"  class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="costs-btn-update" class="btn btn-outline-dark">Update</button>
      </div>
    </div>
  </div>
{#</div>#}
<!-- ============================================================== -->
<!-- End of Dynamic Form Content -->
<!-- ============================================================== -->

<script>
    var costs_table = $('#dynamic-table').DataTable({
        sDom: 'lrtip',
        ordering: false,
        paging: false,
        info: false
    });
</script>