{% import "entry_macros.html" as macros %}

{% macro row_label(title) -%}
    <label class="col-4 col-form-label text-sm-right">{{ title }}</label>
{%- endmacro %}

<!-- Modal with the Booking Form -->
{% set is_new = booking.id is none %}
{% set select_readonly = 'disabled' if read_only else '' %}

  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">

        <!-- Modal header -->
        <div class="modal-header">
            {% set title_suffix = 'New' if is_new else 'Id = %s'|format(booking.id) %}
            <h3 class="modal-title"> Booking ({{ title_suffix }}) {{ " READ-ONLY" if read_only else '' }}</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="onCancelButtonClick()">
              <span aria-hidden="true">&times;</span>
            </button>
        </div> <!-- End of Modal header -->

        <!-- Modal body -->
        <div class="modal-body row">

            <!-- Booking Form -->
            <div class="col-7" style="background-color: transparent">
                <form id="booking-form" data-parsley-validate="" novalidate="">

                    <input type="hidden" data-key="id" value="{{ '' if is_new else booking.id }}">
                    <!-- Resource Row -->
                    <div class="form-group row">
{#                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Resource</label>#}
                        {{ row_label('Resource') }}

                        <div class="col-7">
                            <select id="selectpicker-resource" class="selectpicker show-tick" data-width="auto" data-key="resource_id" title="Select Resource to book..." {{ select_readonly }}>
                            {% for r in resources %}
                                {% if r['user_can_book'] %}
                                    {% set selected = 'selected' if r['id'] == booking.resource_id|int else '' %}
                                    <option {{ selected }} value="{{r['id']}}" data-content="<span class='badge' style='background: {{ r['color'] }}; color: #fff;'>{{r['name']}}</span>">{{r['name']}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Owner Row -->
                    <div class="form-group row">
                        {{ row_label('Owner') }}
                        <div class="col-7">
                            {% if possible_booking_owners %}
                                <select id="booking-owner-select" class="selectpicker show-tick" data-live-search="true" data-key="owner_id">
                                {% for lab in possible_booking_owners %}
                                    <option data-divider="true"></option>
                                    {% for u in lab %}
                                        {% set style = 'background: #71748d; color: #fff;' if loop.index0 == 0 else '' %}
                                        {% set selected = 'selected' if (u['id'] == booking.owner.id or u['id'] == booking.owner_id|int) else '' %}
                                        <option value="{{u['id']}}" {{ selected }} style="{{style}}">{{u['name']}}</option>
                                    {% endfor %}
                                {% endfor %}
                                </select>
                            {% else %}
                                <input type="text" required="" placeholder="Owner" id="booking-owner-text" class="form-control" value="{{ booking.owner.name }}" readonly>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Project Id Row -->
                    <div class="form-group row">
                        {{ row_label('Project ID') }}
                        <div class="col-7">
                            <select id="booking-projectid-select" class="selectpicker show-tick" data-live-search="true" data-key="project_id" {{ select_readonly }}>
                                <option value="0">Not set</option>
                                {% for p in projects %}
                                    {% set selected = 'selected' if p.id == booking.project.id else '' %}
                                    <option {{ selected }} value="{{ p.id }}">{{ p.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    {% if show_application %}
                    <!-- Application Row -->
                    <div class="form-group row">
                        {{ row_label('Application') }}
                        <div class="col-7">
                            <label id="application-label" class="col-12 col-sm-3 col-form-label text-sm-left"></label>
                        </div>
                    </div>
                    {% endif %}

                    <!-- Date Start Row -->
                    <div class="form-group row">
                        {{ row_label('Start') }}
                        <div class="col-sm-4 col-lg-3 mb-3 mb-sm-0">
                            <input type="text" class="form-control datetimepicker-input" data-target="#booking-start-date" id="booking-start-date" data-toggle="datetimepicker"/>
                        </div>
                        <div class="col-sm-4 col-lg-3">
                            <input class="form-control" type="text" id="booking-start-time" value="09:00" />
                        </div>

                    </div>

                    <!-- Date End Form -->
                    <div class="form-group row">
                        {{ row_label('End') }}
                        <div class="col-sm-4 col-lg-3 mb-3 mb-sm-0">
                             <input type="text" class="form-control datetimepicker-input" data-target="#booking-end-date" id="booking-end-date" data-toggle="datetimepicker"/>
                        </div>
                        <div class="col-sm-4 col-lg-3">
                            <input class="form-control" type="text" id="booking-end-time" value="23:59" />
                        </div>
                    </div>

                    <!-- Title Row -->
                    <div class="form-group row">
                        {{ row_label('Title (Optional)') }}
                        <div class="col-7">
                            <input type="text" required="" placeholder="Type something" id="booking-title" class="form-control" value="{{ booking.title or ''}}" data-key="title">
                        </div>
                    </div>

                    <div class="form-group row">
                        {{ row_label('Description (Optional)') }}
                        <div class="col-7">
                            <textarea required="" class="form-control" id="booking-description" data-key="description">{{ booking.description }}</textarea>
                        </div>
                    </div>

                    {% if show_experiment %}
                        <div class="form-group row" id="div-describe-experiment">
                            <a href="javascript: showExperimentForm({{ booking.id|tojson }})" class="col-12 col-form-label text-sm-left"><i class="fas fa-edit"></i> Describe Experiment</a>
                        </div>
                    {% endif %}

                <!-- Form ends here -->
                </form>
            </div>
            <!-- end Booking Form -->

                    {% if current_user.is_manager %}

                        <!-- Manager Section  -->
                        <div class="col-4" style="border: 1px solid #e6e6f2;">

                            <form id="booking-form-admin">

                            <div class="form-group row">
                                <h4 class="col-12 text-sm-left">Admin</h4>
                            </div>

                            <!-- Staff Row -->
                            <div class="form-group row">
                                {{ row_label('Staff') }}
                                <div class="col-7">
                                    {% if possible_operators %}
                                        <select id="booking-operator-select" class="selectpicker show-tick" data-live-search="true" data-key="operator_id" >
                                            <option value="0">Not set</option>
                                            {% for u in possible_operators %}
                                                {% set selected = 'selected' if u['id'] == booking.operator_id|int else '' %}
                                                <option {{ selected }} value="{{u['id']}}">{{u['name']}}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <input type="text" required="" placeholder="Staff" id="booking-staff-text" class="form-control" data-key="operator_id" >
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Booking type -->
                           <div class="form-group row">
                                {{ row_label('Booking Type') }}
                                <div class="col-7">
                                    <select id="booking-type-select" class="selectpicker show-tick" data-key="type" >
                                        {% for t in booking_types %}
                                            {% set selected = 'selected' if t == booking.type else '' %}
                                            <option {{ selected }} value="{{ t }}">{{ t }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <!-- Slot Auth Row -->
                            <div class="form-group row">
                                {{ row_label('Slots') }}
                                <div class="col-7">
                                <select id="booking-slot-auth" class="selectpicker show-tick" multiple data-width="100%" data-selected-text-format="count > 5" data-live-search="true" data-actions-box="true" title="Select authorization..." data-key="slot_auth">
                                    {% set apps_auth = booking.slot_auth['applications'] %}
                                    {% set selected = 'selected' if 'any' in apps_auth else '' %}
                                    <option {{ selected }}  value="any">Any</option>
                                    {% for a in applications %}
                                        {% set selected = 'selected' if a['code'] in apps_auth else '' %}
                {#                      <option value="{{a['code']}}" data-subtext="{{ a['alias'] }}" data-content="<span class='badge badge-light'>{{a['code']}}</span>">{{a['code']}}</option>#}
                                      <option {{ selected }} value="{{a['code']}}" data-subtext="{{ a['alias'] }}">{{a['code']}}</option>

                                    {% endfor %}
                                </select>
                                </div>
                            </div>

                            <!-- Recurring -->
                            <div class="form-group row">
                                {{ row_label('Repeat') }}
                                <div class="col-7">
                                    <div class="custom-controls-stacked">
                                        {% for repeat_label in ['No', 'Weekly', 'Bi-weekly'] %}
                                            {% set repeat_value = repeat_label|lower %}
                                            {% set checked = 'checked' if (booking.repeat_value == repeat_value) else '' %}
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" name="booking-repeat-radio" {{ checked }} class="custom-control-input" value="{{ repeat_value }}" data-key="repeat_value"><span class="custom-control-label">{{ repeat_label }}</span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            {% if is_new %}
                            <div class="form-group row">
                                {{ row_label('Stop Date') }}
                                <div class="col-7">
                                    <div class="input-group date" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#booking-repeat-stop-date" id="booking-repeat-stop-date" data-toggle="datetimepicker" data-key="repeat_stop"/>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            <div class="form-group row">
                                {{ row_label('Modify repeating') }}
                                <div class="col-7">
                                    <div class="custom-controls-stacked">
                                        <label class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" name="booking-modify-radio" checked="" class="custom-control-input" value="no" data-key="modify_all"><span class="custom-control-label">Only this</span>
                                        </label>
                                        <label class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" name="booking-modify-radio" class="custom-control-input" value="yes" data-key="modify_all"><span class="custom-control-label">All upcoming</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            </form>
                        </div>

                    {% endif %}

        </div> <!-- End of Modal body -->

        <!-- Modal footer -->
        <div class="modal-footer">
            {% if read_only %}
                <button type="button" id="booking-btn-cancel"  class="btn btn-outline-secondary" data-dismiss="modal" onclick="onCancelButtonClick()">Close</button>
            {% else %}
                <button type="button" id="booking-btn-cancel"  class="btn btn-outline-secondary" data-dismiss="modal" onclick="onCancelButtonClick()">Cancel</button>
                {% if is_new %}
                    {% set submit = 'Create' %}
                {% else %}
                    {% set submit = 'Update' %}
                    <button type="button" id="booking-btn-delete" class="btn btn-outline-danger" onclick="onDeleteButtonClick()">Delete</button>
                {% endif %}

                <button type="button" id="booking-btn-ok" class="btn btn-outline-dark" onclick="onOkButtonClick({{ is_new|tojson }})">{{ submit }}</button>

            {% endif %}

        </div> <!-- End of Modal footer -->

    </div>

  </div>


<script>
    (function(window, document, $, undefined) {
    "use strict";

    $('select').selectpicker();
    setDateAndTime('booking-start', '{{ booking.start.isoformat() }}');
    setDateAndTime('booking-end', '{{ booking.end.isoformat() }}');
    // We don't need to update stop date since it is only used at creation
    $('#booking-repeat-stop-date').datetimepicker({format: 'YYYY/MM/DD'});



})(window, document, window.jQuery);
</script>