

<div class="container-fluid  dashboard-content">
    <!-- Header -->
    {% set title = "Booking Calendar" %}
    {% include 'include_header.html' %}

    <!-- ============================================================== -->
    <!-- events calendar -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class='row'>
                       <div class="col-2">

                           <div id="booking-type">
                            {% for r in resources %}
                               <div class="row justify-content-start" style="margin-top: 10px;">
                                   <div class="col-auto text-left">
                                       <h4 style="margin-left: 10px"> {{ r['name'] }}</h4>
                                   </div>

                                   <div class="col text-right">
                                       <div style="background-color: {{ r['color'] }}; width: 30px; height: 30px; float: right; margin-right: 10px">
                                        <label style="margin-top: 7px; margin-right: 7px">
                                            <input type="checkbox" checked="" data-resource-id="{{ r['id'] }}" onclick="filterBookingsByResource(this)">
                                        </label>
                                       </div>
                                   </div>
                               </div>

                                <div class="row align-top" style="margin: -15px 0 0 25px">
                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" name="radio-inline" class="custom-control-input"  data-booking-type="booking" data-resource-id="{{ r['id'] }}" onclick="selectResource(this)"><span class="custom-control-label">Book</span>
                                    </label>
                                    {% if current_user.is_manager %}
                                    <label class="custom-control custom-radio custom-control-inline is-invalid">
                                        <input type="radio" name="radio-inline" class="custom-control-input"  data-booking-type="downtime"   data-resource-id="{{ r['id'] }}" onclick="selectResource(this)"><span class="custom-control-label">Downtime</span>
                                    </label>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>

                       </div>
                        <div class="col-9">
                        <div id='booking-calendar'></div>
                    </div>
                        <div style='clear:both'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end events calendar -->
    <!-- ============================================================== -->
    </div>

<!-- Modal -->
<div class="modal" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="messageModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="message-title">Message Title  (REPLACE ME) </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="message-body"> Message Body (REPLACE ME) </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="booking-modal" tabindex="-1" role="dialog" aria-labelledby="bookingModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="booking-modal-title"> TITLE </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <!-- ============================================================== -->
            <!-- Booking Form -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <form id="validationform" data-parsley-validate="" novalidate="">

                    <!-- Title Row -->
                    <div class="form-group row">
                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Owner</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <input type="text" required="" placeholder="Owner" id="booking-owner" class="form-control">
                        </div>
                    </div>

                    <!-- Title Row -->
                    <div class="form-group row">
                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Title</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <input type="text" required="" placeholder="Type something" id="booking-title" class="form-control">
                        </div>
                    </div>

                    <!-- Date Start Row -->
                    <div class="form-group row">
                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Start</label>
                        <div class="col-sm-4 col-lg-3 mb-3 mb-sm-0">
                            <input class="form-control" type="text" id="booking-start-date" value="" />
                        </div>
                        <div class="col-sm-4 col-lg-3">
                            <input class="form-control" type="text" id="booking-start-time" value="09:00" />
                        </div>

                    </div>

                    <!-- Date End Form -->
                    <div class="form-group row">
                        <label class="col-12 col-sm-3 col-form-label text-sm-right">End</label>
                        <div class="col-sm-4 col-lg-3 mb-3 mb-sm-0">
                            <input class="form-control" type="text" id="booking-end-date" value="" />
                        </div>
                        <div class="col-sm-4 col-lg-3">
                            <input class="form-control" type="text" id="booking-end-time" value="23:59" />
                        </div>

                    </div>

                    <!-- Booking Type Row -->
                   <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm-right">Booking Type</label>
                        <div class="col-sm-6">
                            <div class="custom-controls-stacked">
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" name="radio-inline" checked="" class="custom-control-input"><span class="custom-control-label">Booking </span>
                                </label>
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" name="radio-inline" class="custom-control-input"><span class="custom-control-label">Slot</span>
                                </label>
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" name="radio-inline" class="custom-control-input"><span class="custom-control-label">Downtime</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Description (Optional)</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <textarea required="" class="form-control" id="booking-description"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <!-- ============================================================== -->
            <!-- end Booking Form -->
            <!-- ============================================================== -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="booking-btn-cancel"  class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" id="booking-btn-delete" class="btn btn-outline-danger" data-dismiss="modal">Delete</button>
        <button type="button" id="booking-btn-ok" class="btn btn-outline-dark" onclick="javascript: create_booking()">Submit</button>
      </div>
    </div>
  </div>
</div>


<!-- javascript  -->
<script>
    var events;
    var calendar;
    var bookings;
    var resources;
    var selected_resource = null;
    var current_user_json = null;
    var last_event = null;

(function(window, document, $, undefined) {
    "use strict";

   /* initialize the external events
  -----------------------------------------------------------------*/

    var Calendar = FullCalendar.Calendar;
    var Draggable = FullCalendarInteraction.Draggable;

    var containerEl = document.getElementById('booking-type');
    var calendarEl = document.getElementById('booking-calendar');

    // initialize the external events
    // -----------------------------------------------------------------

    var userName = "{{current_user.name}}";

    new Draggable(containerEl, {
      itemSelector: '.fc-event',
      eventData: function(eventEl) {
          var suffix;
          if (eventEl.innerText == 'Downtime')
              suffix = 'Downtime';
          else
              suffix = userName;

          console.log('id: ', eventEl.dataset['rid'])

        return {
          title: eventEl.dataset['rname'] + '(' + suffix + ')',
          textColor: 'white',
          color: eventEl.dataset["color"],
          extendedProps: {resource_id: eventEl.dataset['rid']}
            //duration: {days: 2}
        };
      }
    });

    resources = {{ resources|tojson }};
    bookings = {{ bookings|tojson }} ;
    current_user_json = {{ current_user_json|tojson }}

    // printList(bookings, "Bookings");

    calendar = new Calendar(calendarEl, {
        plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        editable: true,
        droppable: true, // this allows things to be dropped onto the calendar
        selectable: true, // allows to select dates
        // drop: function(info) {
        //   // is the "remove after drop" checkbox checked?
        //   if (checkbox.checked) {
        //     // if so, remove the element from the "Draggable Events" list
        //     info.draggedEl.parentNode.removeChild(info.draggedEl);
        //   }
        // }
        events: bookings,
        eventReceive: function(info) {
            //info.event.setProp('title', 'Booking of ' + userName)
       },
        eventAllow: function(dropInfo, draggedEvent) {
            var resource_id = draggedEvent.extendedProps['resource_id'];

            if (resource_id == 1) {
            //return dropInfo.start < new Date(2016, 0, 1); // a boolean
              return false;
            }
            else {
               return true;
            }
        },
        selectAllow: function(info) {
            if (selected_resource == null)
                return false;

            printObject(selected_resource, "selected_resource");

            let booking = bookingFromSelection(info.start, info.end);

            for (const e of events) {
                if ((selected_resource.id == e.extendedProps.resource.id) &&
                    rangesOverlap(booking, e))
                    return false;
            }
            return true;
        },
        // dateClick: function(info) {
        //     alert('clicked ' + info.dateStr);
        // },
        select: function(info) {
            createBooking(info.start, info.end);
        },
        eventClick: function(info) {
            updateBooking(info.event);
            // alert('Event: ' + info.event.title);
            // alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
            // alert('View: ' + info.view.type);
            //
            // // change the border color just for fun
            // info.el.style.borderColor = 'red';
        }
  });

  events = calendar.getEvents();
  calendar.render();

})(window, document, window.jQuery);


/* Helper function to print object properties */
function printObject(obj, label) {
    var propValue;
    console.log("object: ", label);
    for (var propName in obj) {
        propValue = obj[propName]
        console.log('   ', propName, ': ', propValue);
    }
}

function printList(objList, label) {
    console.log("List: ", label);
    var i = 0;
    for (var obj of objList) {
        i = i + 1;
        printObject(obj, "item " + i);
    }
}

/* Helper function to pad dates */
function pad(n) {
    return n < 10 ? '0' + n : n;
}

/* Get date string in YYYY-MM-DD format */
function dateStr(date) {
    return date.getFullYear() + '-' + pad(date.getMonth() + 1) + "-" + pad(date.getDate());
}

/* Get hour:minutes string HH:00 format */
function timeStr(date) {
    return pad(date.getHours()) + ":" + pad(date.getMinutes());
}

/* Date in range */
function dateInRange(date, range) {
    return (date >= range.start && date <= range.end);
}

/* Check if two events overlap (if have same resource) */
function rangesOverlap(event1, event2) {
    console.log(">>> rangeOverlap");
    console.log("          event1:", {start: dateStr(event1.start), end: dateStr(event1.end)});
    console.log("            resource:", selected_resource.id)
    console.log("          event2:", {start: dateStr(event2.start), end: dateStr(event2.end)});
    console.log("            resource:", event2.extendedProps.resource.id);
    console.log("          result: ", (dateInRange(event1.start, event2) || dateInRange(event1.end, event2)))
    return (dateInRange(event1.start, event2) || dateInRange(event1.end, event2));
}

/* Function to show the modal */
function showMessage(title, msg) {
    $('#message-title').html(title);
    $('#message-body').html(msg);
    $('#message-modal').modal('show')
}

/* Function to show the modal */
function showBooking(booking) {
    var titlePrefix = null;
    if (booking.id == null) {  // New booking
        titlePrefix = 'Create ';
        $('#booking-btn-delete').hide();
    }
    else {
        titlePrefix = 'Update ';
        $('#booking-btn-delete').show();
    }

    $('#booking-modal-title').html(titlePrefix + ' Booking - ' + booking.resource.name);
    $('#booking-btn-ok').html(titlePrefix);

    $('#booking-owner').val(booking.owner.name);
    $('#booking-owner').prop('readonly', true);

    $('#booking-start-date').val(dateStr(booking.start));
    $('#booking-start-time').val(timeStr(booking.start));
    $('#booking-end-date').val(dateStr(booking.end));
    $('#booking-end-time').val(timeStr(booking.end));

    $('#booking-title').val(booking.title);
    $('#booking-description').val(booking.description);
    $('#booking-title').focus();
    $('#booking-modal').modal('show');
}

/** Create a booking dict, taking into account that FullCalendar add
 * an extra day at the end of the selection. */
function bookingFromSelection(start, end) {
    start.setHours(9);
    start.setMinutes(0);
    // Remove one day since endDate is exclusive in FullCalendar
    end.setDate(end.getDate() - 1);
    end.setHours(23);
    end.setMinutes(59);

    return {
        id: null,
        title: '',
        start: start,
        end: end,
        resource: selected_resource,
        type: 'booking',
        description: '',
        creator: current_user_json,
        owner: current_user_json
    }
}

function createBooking(start, end) {
    if (selected_resource == null) {
        showMessage("ERROR: Select Resource for Booking",
                    "Please select the result (and booking type) from the " +
                    "left panel before selecting dates. ")
    }
    else {
        showBooking(bookingFromSelection(start, end));
    }
}

function updateBooking(event) {
    let booking = {
        id: event.id,
        start: event.start,
        end: event.end,
        resource: event.extendedProps.resource,
        type: event.extendedProps.type,
        title: event.title,
        description: event.extendedProps.description,
        creator: event.extendedProps.creator,
        owner: event.extendedProps.owner
    }
    //printObject(event, "updateBooking");
    showBooking(booking);
}

function filterBookingsByResource(input) {
    const inputId = input.dataset.resourceId;
    // console.log("filtering by id: ", inputId);
    // console.log("        checked: ", input.checked);

    for (var event of events) {
        // console.log("Event: ", event.title);
        // console.log("   resource:", event.extendedProps.resource_id);

        if (event.extendedProps.resource.id == inputId){
            if (input.checked)
                calendar.addEvent(event);
            else
                event.remove();
        }
    }
}

/** This function is called when a different resource is changed. */
function selectResource(radio) {
    const resourceId = radio.dataset.resourceId;
    selected_resource = null;
    for (var r of resources) {
        if (r.id == resourceId) {
            selected_resource = r;
            break;
        }
    }
}

function create_booking() {
    // Create Event object info from
    last_event = {
        title: $('#booking-title').val(),
        start: new Date($('#booking-start-date').val() + 'T' + $('#booking-start-time').val()).toISOString(),
        end: new Date($('#booking-end-date').val() + 'T' + $('#booking-end-time').val()).toISOString(),
        resource_id: selected_resource.id,
        type: 'booking',
        description: $('#booking-description').val(),
        creator_id: current_user_json.id,
        owner_id: current_user_json.id
    }

    var ajaxContent = $.ajax({
        url: "{{ url_for('api.create_booking') }}",
        type: "POST",
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({attrs: last_event}),
        dataType: "json"
    });

    ajaxContent.done(function(jsonResponse) {
        // TODO: Check how to open an error modal on top if failure
        $('#booking-modal').modal('hide');

        if ('error' in jsonResponse) {
            showMessage("Response Error", "ERROR: " + jsonResponse.error)
        }
        else {
            event = calendar.addEvent(jsonResponse.booking)
            events.push(event);
            calendar.render();
        }
    });

    ajaxContent.fail(function(jqXHR, textStatus) {
        alert( "Request failed: " + textStatus );
    });
}

</script>