

<div class="container-fluid  dashboard-content">
    <!-- Header -->
    {% set title = "Booking Calendar" %}
    {% include 'include_header.html' %}

    <!-- ============================================================== -->
    <!-- events calendar -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">

                    <!-- Calendar selection header row -->
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col col-auto" style="margin-top: 7px;">
                            <h3> Book Resource </h3>
                        </div>
                        <div class="col nopadding">
                            <select class="selectpicker show-tick" data-width="auto" title="Select Resource to book..." onchange="selectResource(this)">
                            {% for r in resources %}#}
                              <option value="{{r['id']}}" data-content="<span class='badge' style='background: {{ r['color'] }}; color: #fff;'>{{r['name']}}</span>">{{r['name']}}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="col text-right" style="margin-top: 7px;">
                            <h5> Display </h5>
                        </div>
                        <div class="col col-auto nopadding">
                            <select class="selectpicker show-tick" multiple data-width="auto" data-selected-text-format="count > 2" title="Select Resource to book..."  onchange="filterBookingsByResources(this)">
                            {% for r in resources %}#}
                              <option value="{{r['id']}}" class="badge" style="background: {{ r['color'] }}; color: #fff;">{{r['name']}}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="col col-auto text-right" style="margin-top: 7px;">
                            <h5> Filter</h5>
                        </div>
                        <div class="col col-auto nopadding">
                            <select class="selectpicker show-tick" data-width="auto" title="Select Resource to book...">
                              <option>Only mine</option>
                              <option>CEMxxx</option>
                            </select>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-12">
                            <div id='booking-calendar'></div>
                        </div>
                        <div style='clear:both'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end events calendar -->
    <!-- ============================================================== -->
    </div>

<!-- Modal -->
<div class="modal" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="messageModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="message-title">Message Title  (REPLACE ME) </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="message-body"> Message Body (REPLACE ME) </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="booking-modal" tabindex="-1" role="dialog" aria-labelledby="bookingModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="booking-modal-title"> TITLE </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <!-- ============================================================== -->
            <!-- Booking Form -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <form id="validationform" data-parsley-validate="" novalidate="">

                    <!-- Title Row -->
                    <div class="form-group row">
                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Owner</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <input type="text" required="" placeholder="Owner" id="booking-owner" class="form-control">
                        </div>
                    </div>

                    <!-- Title Row -->
                    <div class="form-group row">
                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Title</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <input type="text" required="" placeholder="Type something" id="booking-title" class="form-control">
                        </div>
                    </div>

                    <!-- Date Start Row -->
                    <div class="form-group row">
                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Start</label>
                        <div class="col-sm-4 col-lg-3 mb-3 mb-sm-0">
                            <input class="form-control" type="text" id="booking-start-date" value="" />
                        </div>
                        <div class="col-sm-4 col-lg-3">
                            <input class="form-control" type="text" id="booking-start-time" value="09:00" />
                        </div>

                    </div>

                    <!-- Date End Form -->
                    <div class="form-group row">
                        <label class="col-12 col-sm-3 col-form-label text-sm-right">End</label>
                        <div class="col-sm-4 col-lg-3 mb-3 mb-sm-0">
                            <input class="form-control" type="text" id="booking-end-date" value="" />
                        </div>
                        <div class="col-sm-4 col-lg-3">
                            <input class="form-control" type="text" id="booking-end-time" value="23:59" />
                        </div>

                    </div>

                    <div class="form-group row">
                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Description (Optional)</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <textarea required="" class="form-control" id="booking-description"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <!-- ============================================================== -->
            <!-- end Booking Form -->
            <!-- ============================================================== -->
        </div>
      </div>

        <!-- Manager Section  -->
        {% if current_user.is_manager %}
        <div class="modal-body">

            <!-- Booking type -->
           <div class="form-group row">
                <label class="col-sm-3 col-form-label text-sm-right">Booking Type</label>
                <div class="col-sm-6">
                    <div class="custom-controls-stacked">
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" name="booking-type-radio" checked="" class="custom-control-input" value="booking"><span class="custom-control-label">Booking </span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" name="booking-type-radio" class="custom-control-input" value="slot"><span class="custom-control-label">Slot</span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" name="booking-type-radio" class="custom-control-input" value="downtime"><span class="custom-control-label">Downtime</span>
                        </label>
                    </div>
                </div>
            </div>

            <!-- Slot Auth Row -->
            <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right">Sloth Authorization</label>
                <div class="col-12 col-sm-8 col-lg-6">
                    <input type="text" required="" placeholder="Slot authorization" id="booking-slot-auth" class="form-control">
                </div>
            </div>

            <!-- Recurring -->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-sm-right">Repeat</label>
                <div class="col-sm-6">
                    <div class="custom-controls-stacked">
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" name="booking-repeat-radio" checked="" class="custom-control-input" value="no"><span class="custom-control-label">No</span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" name="booking-repeat-radio" class="custom-control-input" value="weekly"><span class="custom-control-label">Weekly</span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" name="booking-repeat-radio" class="custom-control-input" value="bi-weekly"><span class="custom-control-label">Bi-weekly</span>
                        </label>
                    </div>
                </div>
            </div>

      </div>
    {% endif %}

      <div class="modal-footer">
        <button type="button" id="booking-btn-cancel"  class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          {% if current_user.is_manager %}
            <button type="button" id="booking-btn-delete" class="btn btn-outline-danger" data-dismiss="modal"  onclick="javascript: delete_booking()">Delete</button>
          {% endif %}
        <button type="button" id="booking-btn-ok" class="btn btn-outline-dark" onclick="javascript: create_booking()">Submit</button>
      </div>
    </div>
  </div>
</div>


<!-- javascript  -->
<script>
    var calendar;
    var bookings;
    var resources;
    var selected_resource = null;
    var booking_type = 'booking';
    var repeat_value = null;
    var current_user_json = null;
    var last_event = null;

(function(window, document, $, undefined) {
    "use strict";

    $('select').selectpicker();

    /* Register when the Booking type change */
    $('input[type=radio][name=booking-type-radio]').change(function() {
        booking_type = this.value;
        $('#booking-slot-auth').prop('readonly', this.value != 'slot');
    });

    $('input[type=radio][name=booking-repeat-radio]').change(function() {
        repeat_value = this.value;
    });

   /* initialize the external events
  -----------------------------------------------------------------*/

    var Calendar = FullCalendar.Calendar;
    var calendarEl = document.getElementById('booking-calendar');

    // initialize the external events
    // -----------------------------------------------------------------

    var userName = "{{current_user.name}}";
    resources = {{ resources|tojson }};
    bookings = {{ bookings|tojson }} ;
    current_user_json = {{ current_user_json|tojson }}

    calendar = new Calendar(calendarEl, {
        plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        editable: true,
        droppable: true, // this allows things to be dropped onto the calendar
        selectable: true, // allows to select dates
        // drop: function(info) {
        //   // is the "remove after drop" checkbox checked?
        //   if (checkbox.checked) {
        //     // if so, remove the element from the "Draggable Events" list
        //     info.draggedEl.parentNode.removeChild(info.draggedEl);
        //   }
        // }
        events: bookings,
        eventReceive: function(info) {
            //info.event.setProp('title', 'Booking of ' + userName)
       },
        eventAllow: function(dropInfo, draggedEvent) {
            var resource_id = draggedEvent.extendedProps['resource_id'];

            if (resource_id == 1) {
            //return dropInfo.start < new Date(2016, 0, 1); // a boolean
              return false;
            }
            else {
               return true;
            }
        },
        selectAllow: function(info) {
            if (selected_resource == null)
                return false;

            let booking = bookingFromSelection(info.start, info.end);
            var inside_slot = false;
            let events = calendar.getEvents();

            for (const e of events) {
                let props = e.extendedProps;
                let is_user_auth = props.is_user_auth;

                // Consider only events (bookings) for this resource
                if (selected_resource.id == props.resource.id) {
                    if (props.type == "slot") {
                        // For slots, check that the user have permission
                        // in this slot if overlap, and if so, that the date
                        // range selection is completely contained in the slot
                        if (rangesOverlap(booking, e)) {
                            // Return false if user can not book in this slot
                            if (!is_user_auth)
                                {console.log("selectAllow: user not auth in slot"); return false;}
                            // Or if the range is not contained entirely in the slot
                            else {
                                if (rangeInside(booking, e))
                                    inside_slot = true;
                            }
                        }
                        else {

                        }
                    }
                    else {
                        if (rangesOverlap(booking, e))
                        {console.log("selectAllow: overlap with no slot"); return false;}
                    }
                }
            }
            return (inside_slot || selected_resource.is_user_auth) ;
        },
        // dateClick: function(info) {
        //     alert('clicked ' + info.dateStr);
        // },
        select: function(info) {
            createBooking(info.start, info.end);
        },
        eventClick: function(info) {
            updateBooking(info.event);
        }
  });

  calendar.render();

})(window, document, window.jQuery);


/* Helper function to print object properties */
function printObject(obj, label) {
    var propValue;
    console.log("object: ", label);
    for (var propName in obj) {
        propValue = obj[propName]
        console.log('   ', propName, ': ', propValue);
    }
}

function printList(objList, label) {
    console.log("List: ", label);
    var i = 0;
    for (var obj of objList) {
        i = i + 1;
        printObject(obj, "item " + i);
    }
}

function removeObjectFromList(obj, objList) {
    var newList = [];
    for (var o of objList)
        if (o.id != obj.id)
            newList.push(o);
    return newList;
}

/* Helper function to pad dates */
function pad(n) {
    return n < 10 ? '0' + n : n;
}

/* Get date string in YYYY-MM-DD format */
function dateStr(date) {
    return date.getFullYear() + '-' + pad(date.getMonth() + 1) + "-" + pad(date.getDate());
}

/* Get hour:minutes string HH:00 format */
function timeStr(date) {
    return pad(date.getHours()) + ":" + pad(date.getMinutes());
}

function datetimeStr(date) {
    //return dateStr(date) + ' - ' + timeStr(date);
    return date.toUTCString();
}

/* Date in range */
function dateInRange(date, range) {
    return (date >= range.start && date <= range.end);
}

/* Check if two events overlap (if have same resource) */
function rangesOverlap(event1, event2) {
    // console.log(">>> rangeOverlap");
    // console.log("          event1:", {start: dateStr(event1.start), end: dateStr(event1.end)});
    // console.log("            resource:", selected_resource.id)
    // console.log("          event2:", {start: dateStr(event2.start), end: dateStr(event2.end)});
    // console.log("            resource:", event2.extendedProps.resource.id);
    // console.log("          result: ", (dateInRange(event1.start, event2) || dateInRange(event1.end, event2)))
    return (dateInRange(event1.start, event2) || dateInRange(event1.end, event2));
}

/* Return True if event1 is contained in event2 */
function rangeInside(event1, event2) {
    return (event1.start >= event2.start && event1.end <= event2.end);
}

/* Get all selected values from a 'select' */
function getSelectedValues(sel) {
    var opt;
    var values = new Array();

    for ( var i = 0, len = sel.options.length; i < len; i++ ) {
        opt = sel.options[i];
        if ( opt.selected === true ) {
            values.push(opt.value);
        }
    }
    return values;
}

/* Function to show the modal */
function showMessage(title, msg) {
    $('#message-title').html(title);
    $('#message-body').html(msg);
    $('#message-modal').modal('show')
}

/* Function to show the modal */
function showBooking(booking) {
    var titlePrefix = null;
    if (booking.id == null) {  // New booking
        titlePrefix = 'Create ';
        $('#booking-btn-delete').hide();
    }
    else {
        titlePrefix = 'Update ';
        $('#booking-btn-delete').show();
    }

    $('#booking-modal-title').html(titlePrefix + ' Booking - ' + booking.resource.name + ' (id=' + booking.id + ')');
    $('#booking-btn-ok').html(titlePrefix);

    $('#booking-owner').val(booking.owner.name);
    $('#booking-owner').prop('readonly', true);

    $('#booking-start-date').val(dateStr(booking.start));
    $('#booking-start-time').val(timeStr(booking.start));
    $('#booking-end-date').val(dateStr(booking.end));
    $('#booking-end-time').val(timeStr(booking.end));
    $('#booking-slot-auth').val(booking.slot_auth);

    $('#booking-title').val(booking.title);
    $('#booking-description').val(booking.description);
    $("input[name=booking-type-radio][value=" + booking.type + "]").prop('checked', true);
    $("input[name=booking-repeat-radio][value=" + booking.repeat_value + "]").prop('checked', true);
    $('#booking-title').focus();
    $('#booking-modal').modal('show');
}

/** Create a booking dict, taking into account that FullCalendar add
 * an extra day at the end of the selection. */
function bookingFromSelection(start, end) {
    start.setHours(9);
    start.setMinutes(0);
    // Remove one day since endDate is exclusive in FullCalendar
    end.setDate(end.getDate() - 1);
    end.setHours(23);
    end.setMinutes(59);

    console.log("bookingFromSelection: ");
    console.log("   booking-type: ", booking_type);

    repeat_value = 'no';

    return {
        id: null,
        title: '',
        start: start,
        end: end,
        resource: selected_resource,
        type: booking_type,
        description: '',
        creator: current_user_json,
        owner: current_user_json,
        repeat_value: repeat_value,
    }
}

function createBooking(start, end) {
    if (selected_resource == null) {
        showMessage("ERROR: Select Resource for Booking",
                    "Please select the result (and booking type) from the " +
                    "left panel before selecting dates. ")
    }
    else {
        showBooking(bookingFromSelection(start, end));
    }
}

function updateBooking(event) {
    last_event = event;
    let props = event.extendedProps;

    let booking = {
        id: event.id,
        start: event.start,
        end: event.end,
        resource: props.resource,
        type: props.type,
        title: props.booking_title,
        description: props.description,
        repeat_value: props.repeat_value,
        creator: props.creator,
        owner: props.owner,
        slot_auth: props.slot_auth['projects'].join(' ')
    }
    //printObject(event, "updateBooking");
    showBooking(booking);
}

function filterBookingsByResources(sel){
    var visibleResourcesId = getSelectedValues(sel);
    // Always show the selected resource
    visibleResourcesId.push(selected_resource.id);

    visible_bookings = bookings.filter(function (b) {
        for (const rid of visibleResourcesId)
            if (b.resource.id == rid)
                return true;
        return false;
    });

    calendar.removeAllEvents();
    for (const b of visible_bookings)
        calendar.addEvent(b);

    calendar.render();
}

/** This function is called when a different resource is changed. */
function selectResource(sel) {
    let resourceId = getSelectedValues(sel)[0];

    for (var r of resources) {
        if (r.id == resourceId) {
            selected_resource = r;
            break;
        }
    }
    filterBookingsByResources(sel);
}

function create_booking() {
    // Create Event object info from
    last_event = {
        title: $('#booking-title').val(),
        start: new Date($('#booking-start-date').val() + 'T' + $('#booking-start-time').val()).toISOString(),
        end: new Date($('#booking-end-date').val() + 'T' + $('#booking-end-time').val()).toISOString(),
        resource_id: selected_resource.id,
        type: booking_type,
        description: $('#booking-description').val(),
        repeat_value: repeat_value,
        creator_id: current_user_json.id,
        owner_id: current_user_json.id
    }

    var ajaxContent = $.ajax({
        url: "{{ url_for('api.create_booking') }}",
        type: "POST",
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({attrs: last_event}),
        dataType: "json"
    });

    ajaxContent.done(function(jsonResponse) {
        // TODO: Check how to open an error modal on top if failure
        $('#booking-modal').modal('hide');

        if ('error' in jsonResponse) {
            showMessage("Response Error", "ERROR: " + jsonResponse.error)
        }
        else {
            for (var booking of jsonResponse.bookings) {
                event = calendar.addEvent(booking);
                bookings.push(booking);
            }
            calendar.render();
        }
    });

    ajaxContent.fail(function(jqXHR, textStatus) {
        alert( "Request failed: " + textStatus );
    });
}

function delete_booking() {
    let booking_id = last_event.id;

    var ajaxContent = $.ajax({
        url: "{{ url_for('api.delete_booking') }}",
        type: "POST",
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(booking_id),
        dataType: "json"
    });

    ajaxContent.done(function(jsonResponse) {
        // TODO: Check how to open an error modal on top if failure
        $('#booking-modal').modal('hide');

        if ('error' in jsonResponse) {
            showMessage("Response Error", "ERROR: " + jsonResponse.error)
        } else {

            for (var booking_id of jsonResponse.deleted) {
                calendar.getEventById(booking_id).remove();
            }
            // Remove deleted bookings
            bookings = bookings.filter(function (b) {
                for (var booking_id of jsonResponse.deleted)
                    if (b.id == booking_id)
                        return false;
                return true;
            })
            calendar.render();
        }
    });

    ajaxContent.fail(function(jqXHR, textStatus) {
        alert( "Request failed: " + textStatus );
    });
}

</script>