
<!-- Modal to with a Form to create a new Session -->

  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">

      <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h3 class="modal-title" id="session-modal-title"> Create Session:  </h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- End of Modal header -->

        {% include session_body %}

    <!-- Modal footer -->
    <div class="modal-footer">
        <button type="button" id="booking-btn-cancel"  class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="booking-btn-ok" class="btn btn-outline-dark" onclick="onCreateClick()">Create</button>
    </div>
    <!-- End of Modal footer -->
  </div>
</div>

<!-- javascript  -->
<script>
        $('select').selectpicker();

    function onProcessingClick(inputRadio) {
        var rows = document.getElementsByClassName("processing-row");
        for (var i = 0; i < rows.length; i++) {
            var r = rows[i];
            r.style.display = r.id === "row-" + inputRadio.value ? "block" : "none";
        }
    }

    function onCreateClick(){
        var formValues = getFormAsJson('session-form');
        var attrs = {
            booking_id: parseInt(document.getElementById('booking-id').value)
        }

        if (formValues.session_name) {
            attrs.name = formValues.session_name;
            attrs.extra = {
                otf_folder: formValues.otf_folder,
                raw_folder: formValues.raw_folder,
                project_id: formValues.project_id
            }
            if (!formValues.otf_folder)
                attrs.create_otf = true;
        }

        // If there is a session
        {#if (attrs.extra.raw_folder)#}
        var regex = /^[a-zA-Z0-9-_]{2,16}$/;
        var valid_name = nonEmpty(attrs.name) && regex.test(attrs.name);

        if (!valid_name) {
            showError("Provide a valid <strong>Session Name</strong>.<br>" +
                "<p>It must be have from 2 to 16 digits, containing letters, numbers, slash or underscore.</p>");
            return;
        }

        {#alert(JSON.stringify(attrs, null, 4));#}
        {#return#}

        var ajaxContent = $.ajax({
            url: "{{ url_for('api.create_session') }}",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({attrs: attrs}),
            dataType: "json"
        });

        ajaxContent.done(function(jsonResponse) {
            //alert(JSON.stringify(jsonResponse, null, 4));

            if ('error' in jsonResponse)
                showError(jsonResponse['error']);
            else
                window.location.reload();
        });

        ajaxContent.fail(function(jqXHR, textStatus) {
            alert( "Request failed: " + textStatus );
        });
    }
</script>