
<div class="container-fluid dashboard-content ">

    <div class="row">
        {% include "dashboard_right.html" %}
    </div>

</div>

<!-- ============================================================== -->
<!-- Session Modal -->
<!-- ============================================================== -->
<div class="modal fade" id="session-modal" tabindex="-1" role="dialog" aria-labelledby="sessionModal" aria-hidden="true">
</div>

<!-- javascript  -->
<script>
    function load_calendar(resource_id) {
        return load_main_content('booking_calendar', {resource_id:resource_id});
    }
</script>