
<div class="dashboard-finance">
<div class="container-fluid dashboard-content">
    <!-- ============================================================== -->
    <!-- pageheader  -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Finance Dashboard </h3>
                <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Finance Dashboard Template</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader  -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="offset-xl-10 col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
            <form>
                <div class="form-group">
                    <input class="form-control" type="text" name="daterange" value="01/01/2018 - 01/15/2018" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Total Income</h5>
                <div class="card-body">
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1">$5,79,000</h1>
                    </div>
                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">25%</span>
                    </div>
                </div>
                <div class="card-body bg-light p-t-40 p-b-40">
                    <div id="sparkline-revenue"></div>
                </div>
                <div class="card-footer text-center bg-white">
                    <a href="#" class="card-link">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Total Expences</h5>
                <div class="card-body">
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1">$1,79,000</h1>
                    </div>
                    <div class="metric-label d-inline-block float-right text-secondary font-weight-bold">
                        <span class="icon-circle-small icon-box-xs text-danger bg-danger-light"><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">15%</span>
                    </div>
                </div>
                <div class="card-body text-center bg-light p-t-40 p-b-40">
                    <div id="sparkline-revenue2"></div>
                </div>
                <div class="card-footer text-center bg-white">
                    <a href="#" class="card-link">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Cash on Hand</h5>
                <div class="card-body">
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1">$79,000</h1>
                    </div>
                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">25%</span>
                    </div>
                </div>
                <div class="card-body bg-light p-t-40 p-b-40">
                    <div id="sparkline-revenue3"></div>
                </div>
                <div class="card-footer text-center bg-white">
                    <a href="#" class="card-link">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Net Profit Margin</h5>
                <div class="card-body">
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1">$92,000</h1>
                    </div>
                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span> <span class="ml-1">25%</span>
                    </div>
                </div>
                <div class="card-body bg-light p-b-40 p-t-40">
                    <div id="sparkline-revenue4"></div>
                </div>
                <div class="card-footer text-center bg-white">
                    <a href="#" class="card-link">View Details</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end revenue year  -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- ============================================================== -->
        <!-- ap and ar balance  -->
        <!-- ============================================================== -->
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">AP and AR Balance
                </h5>
                <div class="card-body">
                    <canvas id="chartjs_balance_bar"></canvas>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end ap and ar balance  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- gross profit  -->
        <!-- ============================================================== -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">% of Income Budget</h5>
                <div class="card-body">
                    <div id="morris_gross" style="height: 272px;"></div>
                </div>
                <div class="card-footer bg-white">
                    <p>Budget <span class="float-right text-dark">12,000.00</span></p>
                    <p>Balance<span class="float-right text-dark">-2300.00 <span class="ml-2 text-secondary"><i class="fas fa-caret-up mr-1"></i>25%</span></span>
                    </p>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end gross profit  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- profit margin  -->
        <!-- ============================================================== -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">% of Expenses Budget</h5>
                <div class="card-body">
                    <div id="morris_profit" style="height: 272px;"></div>
                </div>
                <div class="card-footer bg-white">
                    <p>Budget <span class="float-right text-dark">3500.00</span></p>
                    <p>Balance <span class="float-right text-dark">230.00 <span class="ml-2 text-secondary"><i class="fas fa-caret-up mr-1"></i>25%</span></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end profit margin -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- earnings before interest tax  -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">EBIT (Earnings Before Interest & Tax)</h5>
                <div class="card-body">
                    <div id="ebit_morris"></div>
                    <div class="text-center">
                        <span class="legend-item mr-3">
                                <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                        <span class="legend-text">EBIT (Earnings Before Interest & Tax)</span>
                        </span>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end earnings before interest tax  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- cost of goods  -->
        <!-- ============================================================== -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Cost of goods / Services <span class="float-right">1 Jan 2018 to 31 Dec 2018</span></h5>
                <div class="card-body">
                    <div id="goodservice"></div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end cost of goods  -->
        <!-- ============================================================== -->
    </div>
    <div class="row">
        <!-- ============================================================== -->
        <!-- overdue invoices  -->
        <!-- ============================================================== -->
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Disputed vs Overdue Invoices</h5>
                <div class="card-body">
                    <div class="ct-chart-invoice ct-golden-section"></div>
                    <div class="text-center m-t-40">
                        <span class="legend-item mr-3">
                                    <span class="fa-xs text-primary mr-1 legend-tile"><i class="fa fa-fw fa-square-full "></i></span><span class="legend-text">Disputed Invoices</span>
                        </span>
                        <span class="legend-item mr-3">
                                    <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full "></i></span><span class="legend-text">Overdue Invoices</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end overdue invoices  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- disputed invoices  -->
        <!-- ============================================================== -->
        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Disputed Invoices</h5>
                <div class="card-body">
                    <div class="ct-chart-line-invoice ct-golden-section"></div>
                    <div class="text-center m-t-10">
                        <span class="legend-item mr-3">
                                <span class="fa-xs text-primary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                        <span class="legend-text">Disputed Invoices</span>
                        </span>
                        <span class="legend-item mr-3">
                                <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                        <span class="legend-text">Avarage</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end disputed invoices  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- account payable age  -->
        <!-- ============================================================== -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Accounts Payable Age</h5>
                <div class="card-body">
                    <div id="account" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end account payable age  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- working capital  -->
        <!-- ============================================================== -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Working Capital <span class="float-right">1 Jan 2018 to 31 Dec 2018</span></h5>
                <div class="card-body">
                    <div id="capital"></div>
                    <div class="text-center m-t-10">
                        <span class="legend-item mr-3">
                                <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                        <span class="legend-text">Working Capital</span>
                        </span>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end working capital  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- inventory turnover  -->
        <!-- ============================================================== -->
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Inventory Turnover</h5>
                <div class="card-body">
                    <div class="ct-chart-inventory ct-golden-section"></div>
                    <div class="text-center m-t-10">
                        <span class="legend-item mr-3">
                                <span class="fa-xs text-primary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                        <span class="legend-text">Turnover</span>
                        </span>
                        <span class="legend-item mr-3">
                                <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                        <span class="legend-text">Target</span>
                        </span>
                        <span class="legend-item mr-3">
                                <span class="fa-xs text-info mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                        <span class="legend-text">Acheived</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end inventory turnover -->
    <!-- ============================================================== -->
</div>
</div>
<script>
/*
Template Name: Influence Admin Template
Author: jitu
Email: chauhanjitu3@gmail.com
File: js
*/
$(function() {
    "use strict";

    // ==============================================================
    // Revenue Cards
    // ==============================================================
    $("#sparkline-revenue").sparkline([5, 5, 7, 7, 9, 5, 3, 5, 2, 4, 6, 7], {
        type: 'line',
        width: '99.5%',
        height: '100',
        lineColor: '#5969ff',
        fillColor: '',
        lineWidth: 2,
        spotColor: undefined,
        minSpotColor: undefined,
        maxSpotColor: undefined,
        highlightSpotColor: undefined,
        highlightLineColor: undefined,
        resize:true
    });

    $("#sparkline-revenue2").sparkline([3, 7, 6, 4, 5, 4, 3, 5, 5, 2, 3, 1], {
        type: 'line',
        width: '99.5%',
        height: '100',
        lineColor: '#ff407b',
        fillColor: '',
        lineWidth: 2,
        spotColor: undefined,
        minSpotColor: undefined,
        maxSpotColor: undefined,
        highlightSpotColor: undefined,
        highlightLineColor: undefined,
        resize:true
    });

    $("#sparkline-revenue3").sparkline([5, 3, 4, 6, 5, 7, 9, 4, 3, 5, 6, 1], {
        type: 'line',
        width: '99.5%',
        height: '100',
        lineColor: '#25d5f2',
        fillColor: '',
        lineWidth: 2,
        spotColor: undefined,
        minSpotColor: undefined,
        maxSpotColor: undefined,
        highlightSpotColor: undefined,
        highlightLineColor: undefined,
        resize:true
    });

    $("#sparkline-revenue4").sparkline([6, 5, 3, 4, 2, 5, 3, 8, 6, 4, 5, 1], {
        type: 'line',
        width: '99.5%',
        height: '100',
        lineColor: '#ffc750',
        fillColor: '',
        lineWidth: 2,
        spotColor: undefined,
        minSpotColor: undefined,
        maxSpotColor: undefined,
        highlightSpotColor: undefined,
        highlightLineColor: undefined,
        resize:true,
    });
    // ==============================================================
    // Chart Balance Bar
    // ==============================================================
    var ctx = document.getElementById("chartjs_balance_bar").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',


        data: {
            labels: ["Current", "1-30", "31-60", "61-90", "91+"],
            datasets: [{
                label: 'Aged Payables',
                data: [500, 1000, 1500, 3700, 2500],
                backgroundColor: "rgba(89, 105, 255,.8)",
                borderColor: "rgba(89, 105, 255,1)",
                borderWidth:2

            }, {
                label: 'Aged Receiables',
                data: [1000, 1500, 2500, 3500, 2500],
                backgroundColor: "rgba(255, 64, 123,.8)",
                borderColor: "rgba(255, 64, 123,1)",
                borderWidth:2
            }]

        },
        options: {
            legend: {
                    display: true,
                    position: 'bottom',
                    labels: {
                        fontColor: '#71748d',
                        fontFamily:'Circular Std Book',
                        fontSize: 14,
                    }
            },
                scales: {
                    xAxes: [{
                ticks: {
                    fontSize: 14,
                     fontFamily:'Circular Std Book',
                     fontColor: '#71748d',
                }
            }],
            yAxes: [{
                ticks: {
                    fontSize: 14,
                     fontFamily:'Circular Std Book',
                     fontColor: '#71748d',
                }
            }]
                }
    }
});

    // ==============================================================
    // Gross Profit Margin
    // ==============================================================
   Morris.Donut({
                element: 'morris_gross',
                data: [
                    { value: 94, label: 'Budget' },
                    { value: 15, label: '' }
                ],
                labelColor: '#5969ff',
                colors: [
                    '#5969ff',
                    '#a8b0ff'
                ],
                formatter: function(x) { return x + "%" },
                  resize: true
            });

    // ==============================================================
    // Net Profit Margin
    // ==============================================================
    Morris.Donut({
                element: 'morris_profit',
                data: [
                    { value: 93, label: 'Profit' },
                    { value: 15, label: '' }
                ],
                labelColor: '#ff407b',
                colors: [
                    '#ff407b',
                    '#ffd5e1'
                ],
                formatter: function(x) { return x + "%" },
                  resize: true
            });

    // ==============================================================
    //EBIT Morris
    // ==============================================================

    Morris.Bar({
        element: 'ebit_morris',
        data: [
            { x: '2011 Q1', y: 20000 },
            { x: '2011 Q2', y: 24000 },
            { x: '2011 Q3', y: 33000 },
            { x: '2011 Q4', y: 40000 },
            { x: '2012 Q1', y: 25000 },
            { x: '2012 Q2', y: 70000 },
            { x: '2012 Q3', y: 52000 },
            { x: '2012 Q4', y: 39000 },
            { x: '2013 Q1', y: 80000 }
        ],
        xkey: 'x',
        ykeys: ['y'],
        labels: ['Y'],
        barColors: ['#ff407b'],
        preUnits: ["$"]

    });

    // ==============================================================
    //EBIT Morris
    // ==============================================================
    var a = c3.generate({
        bindto: "#goodservice",
        size: { height: 350 },
        color: { pattern: ["#5969ff", "#ff407b"] },
        data: {
            columns: [
                ["Service", 20000, 25000, 30000, 80000, 10000, 50000],
                ["Average", 25000, 25000, 25000, 25000, 25000, 25000]
            ],
            types: { Service: "bar" }
        },
        bar: {
            width: 45
        },
        legend: {show: true},
        axis: {
            y: {
                tick: {
                    format: d3.format("$")
                }
            }
        },
    });

    // ==============================================================
    // Disputed vs Overdue Invoices
    // ==============================================================
    var data = {
        labels: ['Disputed Invoice', 'Overdue Invoice'],
        series: [20, 15]
    };

    var options = {
        labelInterpolationFnc: function(value) {
            return value[0]
        }
    };

    var responsiveOptions = [
        ['screen and (min-width: 640px)', {
            chartPadding: 30,
            labelOffset: 100,
            labelDirection: 'explode',
            labelInterpolationFnc: function(value) {
                return value;
            }
        }],
        ['screen and (min-width: 1024px)', {
            labelOffset: 80,
            chartPadding: 20
        }]
    ];

    new Chartist.Pie('.ct-chart-invoice', data, options, responsiveOptions);


    // ==============================================================
    // Disputed vs Overdue Invoices
    // ==============================================================

    new Chartist.Line('.ct-chart-line-invoice', {
        labels: ['Jan 2018', 'Mar 2018', 'May 2018', 'Jul 2018', 'Sep 2018', 'Oct 2018', 'Nov 2018'],
        series: [
            [12, 8, 6, 7, 3, 2.5, 7, 8],
            [7, 7, 7, 7, 7, 7, 7, 7]

        ]
    }, {
        fullWidth: true,
        chartPadding: {
            right: 40
        },
        axisY: {
            labelInterpolationFnc: function(value) {
                return '$'+ (value / 1000);
            }
        },
    });


    // ==============================================================
    // Accounts Payable Age
    // ==============================================================

    var chart = c3.generate({
        bindto: "#account",
        color: { pattern: ["#5969ff", "#ff407b", "#25d5f2", "#ffc750"] },
        data: {
            // iris data from R
            columns: [
                ['30 days', 120],
                ['60 days', 70],
                ['90 days', 50],
                 ['90+ Days', 30],
            ],
            type: 'pie',
        }
    });

    setTimeout(function() {
        chart.load({
        });
    }, 1500);

    setTimeout(function() {
        chart.unload({
            ids: 'data1'
        });
        chart.unload({
            ids: 'data2'
        });
    },
    2500
    );

    // ==============================================================
    // Working Capital
    // ==============================================================

    // // Use Morris.Area instead of Morris.Line
    Morris.Area({
        element: 'capital',
        behaveLikeLine: true,

        data: [
            { x: '2010 Q1', y: 20000 },
            { x: '2010 Q2', y: 24000 },
            { x: '2010 Q3', y: 33000 },
            { x: '2010 Q4', y: 40000 },
            { x: '2011 Q1', y: 25000 },
            { x: '2011 Q2', y: 70000 },
            { x: '2011 Q3', y: 52000 },
            { x: '2012 Q1', y: 39000 },
            { x: '2012 Q2', y: 80000 }
        ],
        xkey: 'x',
        ykeys: ['y'],
        labels: ['Y'],
        lineColors: ['#ff407b'],
        preUnits: ["$"]
    });

    // ==============================================================
    // Working Capital
    // ==============================================================
    new Chartist.Bar('.ct-chart-inventory', {
        labels: ['Q1', 'Q2', 'Q3', 'Q4'],
        series: [
            [800000, 1200000, 1400000, 1300000],
            [200000, 400000, 500000, 300000],
            [100000, 200000, 400000, 600000]
        ]
    }, {
        stackBars: true,
        axisY: {
            labelInterpolationFnc: function(value) {
                return  '$' + (value / 1000);
            }
        }
    }).on('draw', function(data) {
        if (data.type === 'bar') {
            data.element.attr({
                style: 'stroke-width: 30px'
            });
        }
    });
});

</script>
