
{# PARAMS:  #}
{# id_name: should be set if one want to distinguish this table from others. #}

<div class="table-responsive">
    <table class="table" {{ id_name  }}>
        <thead class="bg-light">
            <tr class="border-0">
            {% set columns = table['columns'] %}
            {% set rows = table['value'] %}
            {% set rows_number = rows|length %}

            {% for column in columns %}
                <th class="border-0 column-name" data-key="{{ column['id'] }}">{{ column['label'] }}</th>
            {% endfor %}
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(table['min_rows']) %}
                {% set row_index = loop.index0 %}
                {% set row_values = rows[row_index] if row_index < rows_number else {} %}

                <tr class="data-row">
                {% for column in columns %}
                    {% set col_index = loop.index0 %}
                        {% set col_id = column['id'] %}
                        {% set param_id = 'row-%d-col-%d'|format(row_index, col_index) %}
                        {% set id_name = 'name=%s'|format(param_id) %}
                        {% set data_key = ' data-key=%s '|format(col_id) %}
                        {% set param = column %}
                        {% set value = row_values.get(col_id, '')  %}
                    <td>
                        {% include "dynamic_param.html" %}
                    </td>
                {% endfor %}
                <td>
                    <button class="btn btn-sm btn-outline-light btn-del-row" data-id="{{ row_index }}"><i class="far fa-trash-alt"></i></button>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- ============================================================== -->
<!-- end dynamic table  -->
<!-- ============================================================== -->

