
{% import "entry_macros.html" as macros %}
{% set user = entry.project.user %}
{% set pi = user.get_pi() %}
{% set application = None if not pi else pi.get_applications()[0] %}
{% set application_id = 'None' if not application else application.code %}


<div class="modal-dialog modal-dialog-centered modal-xl" role="document" data-backdrop="static" data-keyboard="false">
<div class="modal-content">
  <div class="modal-header">

      <div class="row col-12">
          <div class="col-9"></div>
          <div class="col-3">
              <button type="button" class="btn btn-outline-dark ml-5" onclick="javascript:saveReportPdf()">Save PDF</button>
              <button type="button" class="btn btn-outline-secondary ml-2" data-dismiss="modal" aria-label="Close">Close</button>
          </div>
      </div>

  </div>
  <div class="modal-body" id="report-content">

      {{ macros.header_card(entry_type['label'], entry.date, (1, 'N'), False) }}

      {% include "facility_acknoledgements.html" %}

      {{ macros.table_card('User Details',
        [('Application ID', application_id),
         ('PI / User', '%s / %s'|format(pi.name, user.name)),
         ('Institute', 'Uppsala University'),
         ('Responsible Staff', entry.creation_user.name),
         ])
        }}

      {% include entry_type['report'] %}

  </div>

</div>
</div>





