{% macro mic_row(label, value, id) -%}
    <div class="row col-12 p-0 m-0">
        <label class="text-muted col-8 text-right">{{ label }}</label>
        <label class="col-4 text-right" id="{{ id }}">{{ value }}</label>
    </div>
{%- endmacro  %}

{% set card_compact = card_compact or False %}

<div class="col-12">
     <div class="card card-figure image_card" id="{{ card }}">
         {{ macros.overlay(card_id + "_overlay") }}

        <figure class="figure">
            <img class="img-fluid" id="{{ card_id }}_image">
            <label class="text-muted mb-0" id="{{ card_id }}_label">  </label>
        </figure>
         <div class="row col-12 p-0 m-0">
            <div class="col-12 pt-2 pb-2">
                <h4 id="{{ card_id }}_name"></h4>
            </div>
             {% set col = 12 if card_compact else 6 %}
            <div class="col-{{col}} p-0 m-0">{{ mic_row('Micrographs', '0', card_id + '_micrographs') }}</div>
            <div class="col-{{col}} p-0 m-0">{{ mic_row('Particles', '0', card_id + '_particles') }}</div>
            <div class="col-{{col}} p-0 m-0" id="{{ card_id }}_defocus_hist" ></div>
            <div class="col-{{col}} p-0 m-0" id="{{ card_id }}_resolution_hist"></div>
        </div>

     </div>
</div>