<div class="container-fluid dashboard-content">
    <!-- Header -->
    {% set title = logtitle %}
    {% set navigation = [('Logbooks', url_for_content('logbooks')), ('Entries', '')] %}
    {% include 'include_header.html' %}
    {%  set is_admin = current_user.is_admin %}
    {% set is_manager = current_user.is_manager %}

    <!-- table row -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <!-- Calendar selection header row -->
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col col-auto">
                            <h3> Entries </h3>
                        </div>
                        <div class="col nopadding">

                        </div>
                        
                        <div class="col col-auto">

                            <div class="row align-items-center">
                                <div class="col text-right pt-3">
                                    <h5> Logbooks </h5>
                                </div>
                                <select id="selectpicker-logbook-entries" class="selectpicker show-tick" multiple data-width="auto" data-selected-text-format="count > 2" title="Select Resource to display..."  data-actions-box="true">
                                {% for logbook in all_logbooks.values() %}
                                    {% if logbook.resource %}
                                        {% set r = logbook.resource %}
                                        <option value="{{logbook.id}}" class="badge" style="background: {{ r['color'] }}; color: #fff;">{{ r['name'] }}</option>
                                    {% else %}
                                        <option value="{{logbook.id}}" class="badge">{{ logbook.title }}</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                                <div class="form-check form-check-inline ml-2 align-middle">
                                    <input class="form-check-input" type="checkbox" id="logbook-show-bookings"{% if 'b' in show %} checked{% endif %}>
                                    <label class="form-check-label" for="logbook-show-bookings">Bookings and Sessions</label>
                                </div>
                                
                                <a href="javascript:updateEntries()" class="btn btn-primary ml-3 mr-3"> Update </a>
                            </div>

                        </div>
                    </div>


<!--                    <h5 class="mb-0">Entries</h5>-->
                     
                </div>

                <div class="card-body">
                    <div id="logbooks-entries-content">
                        {% include 'logbooks_entries_content.html' %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end table row -->

</div>


<script>
    (function(window, document, $, undefined) {
    "use strict";

        $('select').selectpicker();

        $('#selectpicker-logbook-entries').selectpicker('val', {{ logbooks|map(attribute='id')|list|tojson }});

    })(window, document, window.jQuery);

    function getLogbookShowParam() {
        var show = '';
        if ($('#logbook-show-bookings').prop('checked')) {
            show += 'bs';
        }
        return show;
    }

    function syncLogbookUrl(logbookParam, show) {
        var url = new URL(window.location.href);
        url.searchParams.set('content_id', 'logbook_content');
        url.searchParams.set('logbook', logbookParam);
        if (show) {
            url.searchParams.set('show', show);
        } else {
            url.searchParams.delete('show');
        }
        window.history.replaceState({}, '', url);
    }

    function updateEntries() {
        var ids = $('#selectpicker-logbook-entries').selectpicker('val');
        var logbookParam = (ids && ids.length) ? ids.join(',') : '0';
        var show = getLogbookShowParam();
        syncLogbookUrl(logbookParam, show);
        setLoading('logbooks-entries-content');
        load_html_from_ajax('logbooks-entries-content',
            get_ajax_content('logbooks_entries_content', { logbook: logbookParam, show: show }),
            null);
    }

</script>
