

<div class="container-fluid  dashboard-content">
    <!-- Header -->
    {% set title = "Logs" %}
    {% include 'include_header.html' %}

    <!-- ============================================================== -->
    <!-- pagehader  -->
    <!-- ============================================================== -->

    <div class="row">
        <!-- ============================================================== -->
        <!--  resources table  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Logs List</h5>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-light">
                                <tr class="border-0">
                                    <th class="border-0">id</th>
                                    <th class="border-0">timestamp</th>
                                    <th class="border-0">user_id</th>
                                    <th class="border-0">name</th>
                                    <th class="border-0">args</th>
                                    <th class="border-0">kwargs</th>
                                    <th class="border-0">type</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for log in logs %}
                                <tr>
                                    <td> {{ log.id }} </td>
                                    <td> {{ log.timestamp|pretty_datetime    }} </td>
                                    <td> {{ log.user_id }} </td>
                                    <td> {{ log.name }} </td>
                                    <td> {{ log.args }}</td>
                                    <td> {{ log.kwargs }}</td>
                                    <td> {{ log.type }} </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end resources table  -->
        <!-- ============================================================== -->
    </div>
</div>

<!-- ============================================================== -->
<!-- Dynamic Form -->
<!-- ============================================================== -->
<div class="modal" id="experiment-modal" tabindex="-1" role="dialog" aria-labelledby="dynamicModal" aria-hidden="true">

</div>

<script>

    /* Show the Application Form, either for a new booking or an existing one */
function showForm(formId) {
    ajaxContent = get_ajax_content("dynamic_form", {form_id: formId});

    ajaxContent.done(function(html) {
        $("#experiment-modal").html(html);
        // Show the form after setting html content
        $('#experiment-modal').modal('show');
    });

    ajaxContent.fail(function(jqXHR, textStatus) {
        alert( "Request failed: " + textStatus );
    });

}  // function showApplication

</script>