    <!-- left sidebar -->
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">

                        <li class="nav-divider">
                            MAIN
                        </li>

                        <ul class="nav flex-column submenu">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main', content_id='dashboard') }}">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main', content_id='booking_calendar') }}">
                                    <i class="fas fa-calendar-alt"></i>Booking Calendar</a>
                            </li>

{#                            <li class="nav-item">#}
{#                                <a class="nav-link nav-link-ajax" data-content-id="sessions_overview" href=""><i class="fas fa-fw fa-chart-pie"></i>Sessions</a>#}
{#                            </li>#}
{##}
{#                            <li class="nav-item">#}
{#                                <a class="nav-link nav-link-ajax" data-content-id="reports" href=""><i class="fas fa-clipboard-list"></i>Reports</a>#}
{#                            </li>#}

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main', content_id='applications') }}">
                                    <i class="fas fa-rocket"></i>Applications</a>
                            </li>

                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-pages" aria-controls="submenu-pages">
                                <i class="fas fa-f fa-folder"></i>Pages</a>

                            <div id="submenu-pages" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('pages.index', page_id='welcome') }}">Welcome</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('pages.index', page_id='guidelines') }}">Guidelines</a>
                                    </li>
                                </ul>
                            </div>

                        </ul>

                        {% if current_user.is_manager %}
                        <li class="nav-divider">
                            ADMIN
                        </li>

                        <ul class="nav flex-column submenu">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-users" aria-controls="submenu-users">
                                    <i class="fas fa-f fa-users"></i>Users</a>

                            <div id="submenu-users" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('main', content_id='users_list') }}">All Users List</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('main', content_id='portal_users_list') }}">Users from Portal</a>
                                    </li>
                                </ul>
                            </div>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main', content_id='resources_list') }}">
                                    <i class="fas fa-boxes"></i>Resources</a>
                            </li>




                        {% if current_user.is_admin %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main', content_id='booking_list') }}">
                                    <i class="fas fa-list-alt"></i>Booking List</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main', content_id='applications_list') }}">
                                    <i class="fas fa-boxes"></i>Applications List</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main', content_id='forms_list') }}">
                                    <i class="fas fa-boxes"></i>Forms List</a>
                            </li>

                             <li class="nav-item">
                                 <a class="nav-link" href="{{ url_for('main', content_id='logs') }}">
                                    <i class="fas fa-list-alt"></i>Logs</a>
                            </li>
                        {% endif %}

                        </ul>
                        {% endif %}

                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- end left sidebar -->

