<!-- ============================================================== -->
<!-- User Modal -->
<!-- ============================================================== -->
<div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
</div>

<!-- ============================================================== -->
<!-- Application Modal -->
<!-- ============================================================== -->
<div class="modal fade" id="application-modal" tabindex="-1" role="dialog" aria-labelledby="applicationModal" aria-hidden="true">
</div>

<!-- ============================================================== -->
<!-- Booking Modal -->
<!-- ============================================================== -->
<div class="modal fade" id="booking-modal" tabindex="-1" role="dialog" aria-labelledby="bookingModal" aria-hidden="true">
</div>

<!-- ============================================================== -->
<!-- Dynamic Form -->
<!-- ============================================================== -->
<div class="modal" id="experiment-modal" tabindex="-1" role="dialog" aria-labelledby="dynamicModal" aria-hidden="true">
</div>

<!-- ============================================================== -->
<!-- Entry Modal -->
<!-- ============================================================== -->
<div class="modal fade" id="entry-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="overflow: auto">
</div>

<!-- ============================================================== -->
<!-- Image Modal -->
<!-- ============================================================== -->
<div class="modal fade" id="image-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>

<!-- ============================================================== -->
<!-- Overview Modal -->
<!-- ============================================================== -->
<div class="modal fade" id="overview-modal" tabindex="-1" role="dialog" aria-labelledby="plotModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl"  role="document" style="max-width: 95%">
        <div class="modal-content">

            <div class="modal-header bg-dark">
                <h3 class="modal-title text-white" id="overview-modal-title"> Testing modal  </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>

              <div class="modal-body" id="overview-content">

              </div>

        </div>
    </div>
</div>
