<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EMHUB Alpha version (dev)</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fonts/circular-std/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fonts/fontawesome/css/fontawesome-all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/vector-map/jqvmap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/jvectormap/jquery-jvectormap-2.0.2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/charts/chartist-bundle/chartist.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/charts/c3charts/c3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/charts/morris-bundle/morris.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datatables/css/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datatables/css/buttons.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datatables/css/select.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datatables/css/fixedHeader.bootstrap4.css') }}">
</head>

<body>
<!-- main wrapper -->
<div class="dashboard-main-wrapper">
    <!-- navbar -->
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" href="../index.html">emhub</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <li class="nav-item">
                        <div id="custom-search" class="top-search-bar">
                            <input class="form-control" type="text" placeholder="Search..">
                        </div>
                    </li>
                    <li class="nav-item dropdown notification">
                        <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                            <li>
                                <div class="notification-title"> Notification</div>
                                <div class="notification-list">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action active">
                                            <div class="notification-info">
                                                <div class="notification-list-user-img"><img src="{{ url_for('static', filename='images/avatar-2.jpg') }}" alt="" class="user-avatar-md rounded-circle"></div>
                                                <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                    <div class="notification-date">2 min ago</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action">
                                            <div class="notification-info">
                                                <div class="notification-list-user-img"><img src="{{ url_for('static', filename='images/avatar-3.jpg') }}" alt="" class="user-avatar-md rounded-circle"></div>
                                                <div class="notification-list-user-block"><span class="notification-list-user-name">
                                                    John Abraham</span>is now following you
                                                    <div class="notification-date">2 days ago</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action">
                                            <div class="notification-info">
                                                <div class="notification-list-user-img"><img src="{{ url_for('static', filename='images/avatar-4.jpg') }}" alt="" class="user-avatar-md rounded-circle"></div>
                                                <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                    <div class="notification-date">2 min ago</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action">
                                            <div class="notification-info">
                                                <div class="notification-list-user-img"><img src="{{ url_for('static', filename='images/avatar-5.jpg') }}" alt="" class="user-avatar-md rounded-circle"></div>
                                                <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                    <div class="notification-date">2 min ago</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list-footer"> <a href="#">View all notifications</a></div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown connection">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                        <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                            <li class="connection-list">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="#" class="connection-item"><img src="{{ url_for('static', filename='images/github.png') }}" alt="" > <span>Github</span></a>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="#" class="connection-item"><img src="{{ url_for('static', filename='images/dribbble.png') }}" alt="" > <span>Dribbble</span></a>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="#" class="connection-item"><img src="{{ url_for('static', filename='images/dropbox.png') }}" alt="" > <span>Dropbox</span></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="#" class="connection-item"><img src="{{ url_for('static', filename='images/bitbucket.png') }}" alt=""> <span>Bitbucket</span></a>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="#" class="connection-item"><img src="{{ url_for('static', filename='images/mail_chimp.png') }}" alt="" ><span>Mail chimp</span></a>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="#" class="connection-item"><img src="{{ url_for('static', filename='images/slack.png') }}" alt="" > <span>Slack</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="conntection-footer"><a href="#">More</a></div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown nav-user">
                        <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ url_for('static', filename='images/avatar-1.jpg') }}" alt="" class="user-avatar-md rounded-circle"></a>
                        <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                            <div class="nav-user-info">
                                <h5 class="mb-0 text-white nav-user-name">
                                    John Abraham</h5>
                                <span class="status"></span><span class="ml-2">Available</span>
                            </div>
                            <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- end navbar -->
    <!-- left sidebar -->
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">
                            LIVE
                        </li>

                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link nav-link-ajax" id="sessions-overview" href="">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-10" aria-controls="submenu-10"><i class="fas fa-f fa-folder"></i>Sessions</a>
                                <div id="submenu-10" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link nav-link-ajax" id="session-live" href="">Krios 1</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                        <li class="nav-divider">
                            Statistics
                        </li>

                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link nav-link-ajax" id="sessions-overall" href="">Overall</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-ajax" id="reports" href="">Reports</a>
                            </li>
                        </ul>

                        <li class="nav-divider">
                            FOR TESTING
                        </li>

                        <li class="nav-item">
                            <a class="nav-link nav-link-ajax" id="dashboard-finance" href="">Finance</a>
                        </li>

                        {#                            Charts Examples#}
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Chart</a>
                            <div id="submenu-3" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link nav-link-ajax" id="chart-c3" href="">C3 Charts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link nav-link-ajax" id="chart-chartist" href="">Chartist Charts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link nav-link-ajax" id="chart-charts" href="">Chart</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link nav-link-ajax" id="chart-morris" href="">Morris</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link nav-link-ajax" id="chart-sparkline" href="">Sparkline</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- end left sidebar -->
    <!-- wrapper  -->
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content" id="main-content">
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a href="javascript: void(0);">About</a>
                            <a href="javascript: void(0);">Support</a>
                            <a href="javascript: void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end footer -->
    </div>
</div>
<!-- end main wrapper -->

<!-- JavaScript libraries -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/slimscroll/jquery.slimscroll.js') }}"></script>
<script src="{{ url_for('static', filename='libs/js/main-js.js') }}"></script>

<!-- chart chartist js -->
<script src="{{ url_for('static', filename='vendor/charts/chartist-bundle/chartist.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/charts/chartist-bundle/chartist-plugin-threshold.js') }}"></script>
<!-- chart C3 js -->
<script src="{{ url_for('static', filename='vendor/charts/c3charts/c3.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/charts/c3charts/d3-5.4.0.min.js') }}"></script>
<!-- chartjs js -->
<script src="{{ url_for('static', filename='vendor/charts/charts-bundle/Chart.bundle.js') }}"></script>
<!-- sparkline js -->
<script src="{{ url_for('static', filename='vendor/charts/sparkline/jquery.sparkline.js') }}"></script>
<!-- gauge js -->
<script src="{{ url_for('static', filename='vendor/gauge/gauge.min.js') }}"></script>
<!-- morris js -->
<script src="{{ url_for('static', filename='vendor/charts/morris-bundle/raphael.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/charts/morris-bundle/morris.js') }}"></script>

<script type="text/javascript">

    function load_content(e) {
        var ajaxContent = $.ajax({
        url: "{{ url_for('get_content') }}",
        type: "POST",
        data: {content_id: e.currentTarget.id},
        dataType: "html"
        });

        ajaxContent.done(function(html) {
            $("#main-content").html(html);
        });

        ajaxContent.fail(function(jqXHR, textStatus) {
          alert( "Request failed: " + textStatus );
        });

        e.preventDefault();
    }

    $(document).ready(function(){

      //$("#ecommerce_product").click(load_content);

      $('.nav-link-ajax').each(function(){
          $(this).click(load_content);
        });

    });



    // $("#micTable tr").click(function(){
    //    var micId=$(this).find('th:first').html();
    //
    //     <!--var request = $.ajax({-->
    //         <!--url: "{{ url_for('get_mic') }}",-->
    //         <!--type: "POST",-->
    //         <!--data: {micId : micId},-->
    //         <!--dataType: "json"-->
    //     <!--});-->
    //
    //     <!--request.done(function(msg) {-->
    //       <!--//alert("Received: " + msg);-->
    //     <!--});-->
    //
    //     <!--request.fail(function(jqXHR, textStatus) {-->
    //       <!--alert( "Request failed: " + textStatus );-->
    //     <!--});-->
    //
    //     var requestMicThumb = $.ajax({
    //         url: "{{ url_for('get_mic_thumb') }}",
    //         type: "POST",
    //         data: {micId : micId},
    //         dataType: "json"
    //        // contentType: "img/png"
    //     });
    //
    //     requestMicThumb.done(function(data) {
    //         //alert( "Received: " + data['thumbnail'] );
    //         $("#micThumb").attr('src', 'data:image/png;base64,' + data['base64']);
    //     });
    //
    //     requestMicThumb.fail(function(jqXHR, textStatus) {
    //       alert( "Request failed: " + textStatus );
    //     });
    //
    // });
</script>
<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/slimscroll/jquery.slimscroll.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/multi-select/js/jquery.multi-select.js') }}"></script>
<script src="{{ url_for('static', filename='libs/js/main-js.js') }}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('static', filename='vendor/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="{{ url_for('static', filename='vendor/datatables/js/buttons.bootstrap4.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
</body>
</html>