
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fonts/circular-std/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/css/emhub.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fonts/fontawesome/css/fontawesome-all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/vector-map/jqvmap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/jvectormap/jquery-jvectormap-2.0.2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/charts/chartist-bundle/chartist.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/charts/c3charts/c3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/charts/morris-bundle/morris.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datatables/css/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datatables/css/buttons.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datatables/css/select.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datatables/css/fixedHeader.bootstrap4.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/full-calendar/packages/core/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/full-calendar/packages/daygrid/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/full-calendar/packages/timegrid/main.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-select/css/bootstrap-select.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datepicker/tempusdominus-bootstrap-4.css') }}">

