    <!-- left sidebar -->
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">

                        <li class="nav-divider">
                            MAIN
                        </li>

                        <ul class="nav flex-column submenu">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for_content('dashboard') }}">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for_content('booking_calendar') }}">
                                    <i class="fas fa-calendar-alt"></i>Booking Calendar</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for_content('projects_list') }}">
                                    <i class="fas fa-book"></i>Projects</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for_content('sessions_list') }}">
                                    <i class="fas fa-clipboard-list"></i>Sessions</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for_content('applications') }}">
                                    <i class="fas fa-rocket"></i>Applications</a>
                            </li>

                            {% if current_user.is_manager %}

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for_content('invoice_periods_list') }}">
                                    <i class="far fa-money-bill-alt"></i>Invoices</a>
                            </li>

                            <!-- Reports -->
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-reports" aria-controls="submenu-reports">
                                    <i class="fas fa-chart-bar"></i>Reports</a>
                            <div id="submenu-reports" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for_content('report_microscopes_usage') }}">Microscopes Usage</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for_content('report_pis_usage') }}">All PIs Usage</a>
                                    </li>



                                </ul>
                            </div>

                            <!-- News -->
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for_content('news', display='table') }}">
                                    <i class="fas fa-newspaper"></i>News</a>
                            </li>

                            {% endif %}

                            <!-- Processing -->
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for_content('processing_projects_list') }}">
                                    <i class="far fa-object-group"></i>Data Processing</a>
                            </li>
                        </ul>

                    <!-- Start of ADMIN section -->
                        {% if current_user.is_manager %}
                        <li class="nav-divider">
                            ADMIN
                        </li>

                        <ul class="nav flex-column submenu">

                            <!-- Users -->
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-users" aria-controls="submenu-users">
                                    <i class="fas fa-f fa-users"></i>Users</a>
                            <div id="submenu-users" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for_content('users_list') }}">All Users List</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for_content('users_groups') }}">User Groups</a>
                                    </li>
                                </ul>
                            </div>

                            <!-- Resources -->
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for_content('resources_list') }}">
                                    <i class="fas fa-boxes"></i>Resources</a>
                            </li>

                            <!-- Pucks -->
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for_content('grids_storage', pucks_range='1-999') }}">
                                    <i class="fas fa-bowling-ball"></i>Pucks</a>
                            </li>

                            <!-- Logs -->
                            <li class="nav-item">
                                 <a class="nav-link" href="{{ url_for_content('logs') }}">
                                    <i class="fas fa-list-alt"></i>Logs</a>
                            </li>

                        </ul>
                        {% endif %}
                    <!-- End of ADMIN section -->

                    <!-- Start of DATA section -->
                    {% if current_user.is_admin %}

                    <li class="nav-divider">
                        DEVEL
                    </li>

                    <ul class="nav flex-column submenu">

                        <!-- DATA tables -->
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-data-tables" aria-controls="submenu-data-tables">
                                    <i class="fas fa-table"></i>Raw Data Tables</a>

                            <div id="submenu-data-tables" class="collapse submenu" style="">
                                <ul class="nav flex-column">

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for_content('raw_booking_list') }}">Bookings</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for_content('raw_pucks_list') }}">Pucks</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for_content('raw_applications_list') }}">Applications</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for_content('raw_templates_list') }}">Templates</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for_content('raw_transactions_list') }}"> Transactions</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for_content('raw_entries_list') }}"> Entries</a>
                                    </li>

                                </ul>



                            </div>

                        <a class="nav-link" href="{{ url_for_content('raw_forms_list') }}"><i class="fab fa-wpforms"></i> Forms</a>

                        <a class="nav-link" href="{{ url_for_content('workers') }}"><i class="fas fa-cogs"></i>Workers</a>
                    </ul>

                    {% endif %}

                </div>
            </nav>
        </div>
    </div>
    <!-- end left sidebar -->

