{% import "entry_macros.html" as macros %}

{% macro mic_row(label, value, id) -%}
    <div class="row col-12 p-0 m-0">
        <label class="col-6 text-right ml-0 pl-0" style="font-size: 13px">{{ label }}</label>
        <label class="col-4 text-right ml-0 pl-0" id="{{ id }}" style="font-size: 13px">{{ value }}</label>
    </div>
{%- endmacro  %}


{# card_id should be defined before including this macro #}
{% set card_compact = card_compact or False %}

<div class="col-12">
     <div class="card card-figure image_card" id="{{ card_id }}">
        <input type="hidden" value="{{ card_compact }}" id="{{ card_id }}_compact">

         <!-- Display overlay when loading micrograph -->
         {{ macros.overlay(card_id + "_overlay") }}

     <div class="row">

         <!-- Micrograph thumbnail panel -->
        <div class="col-6" style="min-width: 350px;">
            <figure class="figure">
                <canvas id="{{ card_id }}_mic_canvas"></canvas>
            </figure>
        </div>

         <!-- PSD panel with CTF values -->
         <div class="row col-6 mt-2 ml-0 pl-2 mr-0 pr-0"  style="min-width: 250px;">
            <div class="col-12 ml-0 pl-0 mr-0 pr-0">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <h5 class="input-group-text" id="{{ card_id }}_inputGroup-sizing-sm" style="font-size: 13px">Micrograph</h5>
                  </div>
                  <input type="text" id="{{ card_id }}_mic_id" class="form-control" aria-label="Small" aria-describedby="{{ card_id }}_inputGroup-sizing-sm">
                   <div class="row ml-2 mr-2">
                        <a id="{{ card_id }}_mic_left"><i class="fas fa-arrow-circle-left mr-1"></i></a>
                        <a id="{{ card_id }}_mic_right"><i class="fas fa-arrow-circle-right"></i></a>
                   </div>
                </div>
            </div>

            <div class="col-12 ml-0 pl-0 mr-0 pr-0">
                <label>{{ has_ctf }}</label>
            </div>
            {% if has_ctf %}
            <div class="col-4 ml-0 pl-0 mr-0 pr-0">
                <figure class="figure">
                    <img class="img-fluid" id="{{ card_id }}_img_psd" src="">
                </figure>
            </div>

            <div class="col-8 mr-0 pr-0">
                    <div class="col-12 mt-1">
                         {{ mic_row('Defocus U (µm)', '', card_id + '_mic_defocus_u') }}
                         {{ mic_row('Defocus V (µm)', '', card_id + '_mic_defocus_v') }}
                         {{ mic_row('Defocus Angle (°)', '', card_id + '_mic_defocus_angle') }}
                         {{ mic_row('Astigmatism  (µm)', '', card_id + '_mic_astigmatism') }}
                         {{ mic_row('Resolution (Å)', '', card_id + '_mic_resolution') }}

                     </div>
            </div>


             {% if show_ctf_plot %}
                 <div class="row col-12 mt-2 ml-3 mr-3" style="min-height: 300px">
                    <div id="{{ card_id }}_ctf_plot"></div>
                </div>
             {% endif %}

            {% endif %}

            {% if has_particles %}
             <div class="col-12 ml-0 pl-0 mr-0 pr-0 mt-3">
                 <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <h5 class="input-group-text" id="{{ card_id }}_particles-sm" style="font-size: 13px">Particles</h5>
                      </div>
                      <input type="text" readonly id="{{ card_id }}_particles" class="form-control" aria-label="Small" aria-describedby="{{ card_id }}_particles-sm">
                    <div class="switch-field ml-2 mr-2">
                         {% set radio_name = card_id + "_pts_switch" %}
                        <input type="radio" id="{{ radio_name }}-one" name="{{ radio_name }}" value="none"/>
                        <label for="{{ radio_name }}-one"><i class="far fa-times-circle"></i></label>
                        <input type="radio" id="{{ radio_name }}-two" name="{{ radio_name }}" value="dot" checked />
                        <label for="{{ radio_name }}-two"><i class="far fa-dot-circle"></i></label>
                         <input type="radio" id="{{ radio_name }}-three" name="{{ radio_name }}" value="circle" />
                        <label for="{{ radio_name }}-three"><i class="far fa-circle"></i></label>
                    </div>

                </div>
             </div>
            {% endif %}



        </div>


    </div>

     </div>
</div>