
{% import "entry_macros.html" as macros %}

<div class="col-12 pl-0 mb-3">
    <a href="javascript:showEntryForm(null, {{ project_id }}, 'news')" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Create News</a>
</div>


{{ macros.news_card_div('News', news[0], display, current_user.is_manager) }}
{{ macros.news_card_div('Inactive', news[1], display, current_user.is_manager) }}

<!-- ============================================================== -->
<!-- Entry Modal -->
<!-- ============================================================== -->
<div class="modal fade" id="entry-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>


<script>
    (function(window, document, $, undefined) {
    "use strict";

    $('.table-news').DataTable({
        sDom: 'lrtip',
        order: [[ 1, "desc" ]], // sorted by 'last_updated' in reverse order
        //ordering: true,
        paging: false,
        info: false
    });

    })(window, document, window.jQuery);


</script>