
{# Single dynamic param: it can be different types of inputs #}
{# It can be included from forms or tables. #}

{# PARAMS:  #}
{#     param: the param dict. #}
{#     value: the value of this param #}
{#     data_key: the key that will be used to storey this value. #}


<select class="selectpicker show-tick" data-width="auto"  title="None"  data-live-search="true" {{ data_key }}  data-dropup-auto="true">

    {% for d, canes in dewars.items() %}
{#        {% set canes = dewars[d] %}#}
        {% for c, cane in canes.items() %}
            <optgroup label="{{dc}}">
                {% for p, puck in cane.items() %}
                    {% set selected = 'selected' if p|string == value else '' %}
                     <option value="{{ puck['id'] }}" {{ selected }}>{{ puck['code'] }}</option>
                {% endfor %}
            </optgroup>

        {% endfor %}
    {% endfor %}

</select>


