
<div class="container-fluid  dashboard-content">
    <!-- Header -->
    {% set title = "Import Application from Portal" %}
    {% include 'include_header.html' %}

    <div class="card-body border-top">

       <form id="user-form" data-parsley-validate="" novalidate="" method="get" action="{{ url_for('main') }}">
            <!-- Title Row -->
            <div class="form-group row">
                <div class="col-12 col-sm-3 col-form-label text-sm-right">
                    <input type="hidden" id="content_id" name="content_id" value="portal_import_application">
                    <input type="text" required="" placeholder="Application ID" id="application_id" name="application_id" class="form-control" value="">
                </div>
                <div class="col-12 col-sm-8 col-lg-6">
                    <button type="submit" id="application-import-btn" class="btn btn-outline-dark">Import Application</button>
                </div>
            </div>

        </form>

        <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {% if order %}
                        <row>
                        <h4>Imported users:</h4>
                        <ul>
                        <p>{{ order }}</p>
                        </ul>
                        </row>
                    {% endif %}
                    {% if errors %}
                        <row>
                        <h4 style="color: red">Errors importing application:</h4>
                        <ul>
                        {% for e in errors %}
                            <li>{{ e }}</li>
                        {% endfor %}
                        </ul>
                        </row>
                    {% endif %}
                </div>
        </div>

    </div>
</div>

<!-- javascript  -->
<script>

(function(window, document, $, undefined) {
    "use strict";

    // Since we load this template content via AJAX we need to initialize
    // javascript components here
    $('#datetimepicker4').datetimepicker({
        format: 'L'
    });
}

)(window, document, window.jQuery);

</script>
