{% import "entry_macros.html" as macros %}

{% macro project_card(tp) -%}
    {% set data = tp['extra'].get('data', {}) %}
    <!-- Processing Project Card -->
    {% set card_color='#ebf7f9' %}

    <div class="card w-auto mr-3" style="background-color: {{ card_color }}; min-width: 500px; max-width: 700px">

        <div class="card-header d-flex" style="background-color: {{ card_color }};">

            {% set url = url_for_content('tomo_session', tomo_session_id=tp['id'], mode="widget") %}
            
            <a class="mb-0" href="{{ url }}"><h5>{{ tp['title'] }}</h5></a>
            <div class=" ml-auto row">
                <a href="{{ url }}" class="mr-2"><i class="fas fa-external-link-alt"></i></a>
                <a href="javascript:showEntryForm({{ tp['id'] }}, {{ tp['project_id'] }})" class="mr-2"><i class="fas fa-edit"></i></a>
                <a href="javascript:deleteTomoProject({{ tp['id'] }}, '{{ tp['title'] }}')" class="mr-2"><i class="fas fa-trash"></i></a>
            </div>
        </div>

        <div class="card-body">
            <p>Path: <small>{{ data['processing_path'] }}</small></p>

        </div>

    </div>
{%- endmacro %}


<div class="container-fluid dashboard-content">
    <!-- Header -->
    {% set title = "Tomo Processing" %}
    {% include 'include_header.html' %}
    {% set is_manager = current_user.is_manager %}


    <!-- table row -->
    {{ macros.hidden_hour_id() }}

    <div class="row"> 
        <div class="col-12 mb-3 ml-0 pl-0">
            <a href="javascript:createTomoProject({{ default_project_id }})" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Create New Project</a>
        </div>

    {% for project_id, project_entries in tomo_projects.items() %}
  
        <div class="card col-12">
            <div class="card-header"><h3>My Projects</h3></div>
            <div class="card-body">
                
                <div class="row">

                    {% for tp in project_entries %}
                            
                        {{ project_card(tp) }}

                    {% endfor %}

                </div>
            </div>
        </div>

    {% endfor %}
    <!-- end table row -->

    <div class="card col-12">
        <div class="card-header"><h3>Shared with me</h3></div>
        <div class="card-body">
            
            <div class="row">

                {% for tp in shared_projects %}
                        
                    {{ project_card(tp) }}

                {% endfor %}

            </div>
        </div>
    </div>

    </div>
</div>

<script>
    function createTomoProject(project_id){
        showEntryForm(null, project_id, 'tomo_processing');
    }

    function deleteTomoProject(entry_id, title){
        var msg = `Do you want to DELETE Project '${title}'?<br><br>`
        msg += "This will only remove the project from the EMhub data, you need " +
            "to delete the project folder yourself. "
        confirm("Delete Tomo Project", msg,
             "Cancel", "Delete", function () {
            send_ajax_json(Api.urls.entry.delete, {id: entry_id}, entryAjaxDone);
        });
    }

    (function(window, document, $, undefined) {
    "use strict";

    })(window, document, window.jQuery);
</script>