{% set card_id = card_id or 'vol_card' %}
{% set card_view = card_view or 'cards' %}

{% if card_view == 'cards' %}
<div class="row">

    <!-- Slider Column -->
    <div class="col-4">
        <div class="card ml-3">
            <h4 class="card-header">Axis Slider</h4>
            <div class="card-body" id="{{ card_id }}_vol_slider">

            </div>
        </div>
    </div>

    <!-- Slices Gallery Column -->
    <div class="col-4">
       <div class="card ml-3">
            <h4 class="card-header">Slices Gallery</h4>
            <div class="card-body">
                <div class="row">
                <label class="mt-1 ml-4">Slice Axis: </label>
                <div class="switch-field ml-2 mr-2">

                     {% set radio_name = card_id + "_axis_switch" %}
                    <input type="radio" id="{{ radio_name }}-one" checked name="{{ radio_name }}" value="z"/>
                    <label for="{{ radio_name }}-one">Z</label>
                    <input type="radio" id="{{ radio_name }}-two" name="{{ radio_name }}" value="y" />
                    <label for="{{ radio_name }}-two">Y</label>
                     <input type="radio" id="{{ radio_name }}-three"  name="{{ radio_name }}" value="x" />
                    <label for="{{ radio_name }}-three">X</label>
                </div>
                </div>

                <!-- div used to draw the volume slices -->
                <div class="col p-0" id="{{ card_id }}_volume-slices" style="height: 500px; overflow-y: auto;"></div>

            </div>
        </div>
    </div>

    {% if array %}
    <!-- 3D viewer column -->
    <div class="col-4">
        <div class="card ml-3">
            <h4 class="card-header">3D Viewer</h4>
            <div class="card-body" id="{{ card_id }}_vol_3d">

                <!-- div used to render 3d volume -->
                <div id="{{ card_id }}_vol_viewport" style="width:100%; height: 500px"></div>
                <div class="mt-2"><input id="{{ card_id }}_vol_viewport_slider" type="range" min="0" max="255", step="1"></div>
            </div>
        </div>
    </div>
    {% endif %}

</div>

{% elif card_view == 'tabs' %}
<div class="row col-12 m-0 p-0">
    <div class="pills-outline col-12 m-0 p-0">
        <div class="tab-content m-0 p-0 col-12" id="tabTomoContent">
            <ul class="nav nav-pills" id="tabVolumeNav" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="volume-3d-tab" data-toggle="tab" href="#volume-3d" role="tab" aria-controls="volume-3d" aria-selected="true">3D Viewer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="volume-slider-tab" data-toggle="tab" href="#volume-slider" role="tab" aria-controls="volume-slider" aria-selected="false">Sliders</a>
                </li>                
                
            </ul>
            <div class="tab-content" id="tabVolumeContent">
                                
                <div class="tab-pane fade show active" id="volume-3d" role="tabpanel" aria-labelledby="volume-3d-tab">

                    <div class="card-body" id="{{ card_id }}_vol_3d">
                        <!-- div used to render 3d volume -->
                        <div id="{{ card_id }}_vol_viewport" style="width:100%; height: 500px"></div>
                        <div class="mt-2"><input id="{{ card_id }}_vol_viewport_slider" type="range" min="0" max="255", step="1"></div>
                    </div>

                </div>
                <div class="tab-pane fade" id="volume-slider" role="tabpanel" aria-labelledby="volume-slider-tab">

                    <div class="card-body" id="{{ card_id }}_vol_slider" style="height: 500px; overflow-y: auto;"></div>
                    
                </div>                
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row col-12">
    <div class="card-body" id="{{ card_id }}_vol_3d">
        <!-- div used to render 3d volume -->
        <div id="{{ card_id }}_vol_viewport" style="width:100%; height: 500px"></div>
        <div class="mt-2"><input id="{{ card_id }}_vol_viewport_slider" type="range" min="0" max="255", step="1"></div>
    </div>
</div>
{% endif %}


<script>
    var file_path = {{ file_path|tojson }};
    var slices = {{ slices|tojson }};
    var isx, isy, isz = null;
    var dimensions = {{ dimensions|tojson }};
    var slice_dim = {{ slice_dim|tojson }};


    (function(window, document, $, undefined) {
    "use strict";
    $(function() {
        // drawVolData("{{ card_id }}_volume-slices", slices.z);
        // $('input[name="{{ card_id }}_axis_switch"]').change(function () {
        //     drawVolData("{{ card_id }}_volume-slices", slices[$(this).val()]);
        // })

        var vs = new VolumeSliderCard("{{ card_id }}_vol_slider", slices,
            {slice_dim: slice_dim});

        {% if array %}
            var array = {{ array|tojson }};
            renderVolume3D("{{ card_id }}_vol_viewport", array, dimensions);
        {% endif %}

});
})(window, document, window.jQuery);
</script>