{% import "entry_macros.html" as macros %}

<div class="container-fluid dashboard-content">
    <!-- Header -->
    {% set title = "Tomo Processing" %}
    {% include 'include_header.html' %}
    {% set is_manager = current_user.is_manager %}


    <!-- table row -->
    {{ macros.hidden_hour_id() }}


    {% for project_id, project_entries in tomo_projects.items() %}
        <div class="card col-12">
            <div class="card-body">
                <div class="col-12 mb-3 ml-0 pl-0">
                    <a href="javascript:createTomoProject({{ project_id }})" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Create New Project</a>
                </div>
                <div class="row">

           {% for tp in project_entries %}
                {% set data = tp['extra']['data'] %}

                    <!-- Processing Project Card -->
                    {% set card_color='#ebf7f9' %}
                    {# {% set card_color='#ececec' %}  #}
                    <div class="card w-auto mr-3" style="background-color: {{ card_color }}; min-width: 500px; max-width: 700px">

                        <div class="card-header d-flex" style="background-color: {{ card_color }};">

                            {% set url = url_for_content('tomo_session', tomo_session_id=tp['id'], mode="workflow") %}
                            
                            <a class="mb-0" href="{{ url }}"><h5>{{ tp['title'] }}</h5></a>
                            <div class=" ml-auto row">
                                <a href="{{ url }}" class="mr-2"><i class="fas fa-external-link-alt"></i></a>
                                <a href="javascript:showEntryForm({{ tp['id'] }}, {{ tp['project_id'] }})" class="mr-2"><i class="fas fa-edit"></i></a>
                                <a href="javascript:deleteTomoProject({{ tp['id'] }}, '{{ tp['title'] }}')" class="mr-2"><i class="fas fa-trash"></i></a>
{#                                <div class="dropdown ml-2">#}
{#                                    <a class="toolbar" href="#" role="button" id="dropdownMenu-{{ tp['id'] }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                        <i class="fas fa-ellipsis-v"></i> </a>#}
{#                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu-{{ tp['id'] }}">#}
{#                                        <a class="dropdown-item" href="#">Action</a>#}
{#                                        <a class="dropdown-item" href="#">Another action</a>#}
{#                                        <a class="dropdown-item" href="#">Something else here</a>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>

                        <div class="card-body">
{#                            <h5 class="card-title">{{ entry['name'] }}</h5>#}
                            <p>Path: <small>{{ data['processing_path'] }}</small></p>

                        </div>

                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>

    {% endfor %}
    <!-- end table row -->

</div>


<script>
    function createTomoProject(project_id){
        showEntryForm(null, project_id, 'tomo_processing');
    }

    function deleteTomoProject(entry_id, title){
        var msg = `Do you want to DELETE Project '${title}'?<br><br>`
        msg += "This will only remove the project from the EMhub data, you need " +
            "to delete the project folder yourself. "
        confirm("Delete Tomo Project", msg,
             "Cancel", "Delete", function () {
            send_ajax_json(Api.urls.entry.delete, {id: entry_id}, entryAjaxDone);
        });
    }

    (function(window, document, $, undefined) {
    "use strict";

    })(window, document, window.jQuery);
</script>