
<div class="container-fluid dashboard-content">

    {% include 'include_header.html' %}

    <div class="card h-100">
        <div class="card-body">
            <div class="row p-0">
                <div class="col-6">

                    <div id="session_flowchart" class="col-12 workflow-canvas">
                    </div>

                    <div id="session_logs" class="col-12 mt-3 m-0 p-0"  style="height: 410px">

                        <div class="pills-outline">
                            <ul class="nav nav-pills mb-2" id="logs-tab" role="tablist">
                                 <li class="nav-item">
                                    <a class="nav-link active" id="stdout-tab" data-toggle="pill" href="#pills-stdout" role="tab" aria-controls="stdout" aria-selected="true">stdout</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="stderr-tab" data-toggle="pill" href="#pills-stderr" role="tab" aria-controls="stderr" aria-selected="false">stderr</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="json-tab" data-toggle="pill" href="#pills-json" role="tab" aria-controls="json" aria-selected="false">json</a>
                                </li>
                            </ul>

                            <div class="tab-content m-0 p-0" id="logs-tabContent">
                                <div class="tab-pane fade show active" id="pills-stdout" role="tabpanel" aria-labelledby="stdout-tab">

                                    <div id="stdout-editor" class="logs_editor"></div>

                                </div>

                                <div class="tab-pane fade" id="pills-stderr" role="tabpanel" aria-labelledby="stderr-tab">

                                    <div id="stderr-editor" class="logs_editor"></div>

                                </div>

                                <div class="tab-pane fade" id="pills-json" role="tabpanel" aria-labelledby="stderr-json">

                                    <div id="json-editor" class="logs_editor"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="run_panel" class="col-6"  style="height: 400px">

                        <div class="row col-12">
                            <img src="" id="logo-img" class="mr-2" style="display: none; max-height: 25px; object-fit: contain;">
                            <h3 id="logo-label" class="mr-3">Select a run</h3>
                            <h5 id="logo-label-extra" style="color: gray">(to see parameters and outputs)</h5>
                        </div>

                        <div class="pills-outline">
                            <ul class="nav nav-pills mb-2" id="run_tab" role="tablist">
                                 <li class="nav-item">
                                    <a class="nav-link active" id="params-tab" data-toggle="pill" href="#pills-params" role="tab" aria-controls="parameters" aria-selected="true">parameters</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="outputs-tab" data-toggle="pill" href="#pills-outputs" role="tab" aria-controls="outputs" aria-selected="false">outputs</a>
                                </li>
                            </ul>

                            <div class="tab-content m-0 p-0" id="run-tabContent" style="border-width: 0;">
                                <div class="tab-pane fade show active" id="pills-params" role="tabpanel" aria-labelledby="params-tab">

                                    <div class="col-12 p-0 m-0" id="run_row">
                                        <div id="run_form_container" class="col-12 m-0 p-0">
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="pills-outputs" role="tabpanel" aria-labelledby="outputs-tab">

                                    <div class="m-0 p-0" id="summary_row">
                                        <!-- HTML content will be request via AJAX and loaded here -->
                                    </div>


                                </div>
                            </div>
                        </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="overview-modal" tabindex="-1" role="dialog" aria-labelledby="plotModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl"  role="document" style="max-width: 95%">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title" id="overview-modal-title"> Testing modal  </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

              <div class="modal-body" id="overview-content">

              </div>

{#            <!-- Modal footer -->#}
{#            <div class="modal-footer">#}
{#                <button type="button" id="booking-btn-cancel"  class="btn btn-outline-secondary" data-dismiss="modal">Close</button>#}
{#            </div>#}
            <!-- End of Modal footer -->
        </div>
    </div>
</div>

<script>
    var selected_node = null;
    var workflow = {{ workflow|tojson }};

    // Project arguments to retrieve runs or project info
    // args should contain 'sessionId' or 'entry_id' keys
    var get_project_args = {{ get_project_args|tojson }};

    var stdoutEditor, stderrEditor, jsonEditor;
    var display_expert = 'none';
    var forms = {};
    var runDict = null;
    var statuses_values = [
        {id: 'run_', status: 1},
        {id: 'summary_', status: 1}
    ];
    //var status_classes = ['head_span_inactive', 'head_span_active'];
    var status_classes = ['badge-light', 'badge-dark'];
    var status_display = ['none', 'block'];

    function getArgs(extraArgs){
        var args = {run_id: selected_node.id};
        jQuery.extend(args, get_project_args);
        if (extraArgs)
            jQuery.extend(args, extraArgs);
        return args;
    }

    (function(window, document, $, undefined) {
        "use strict";
        $(function() {
            var container = document.getElementById("session_flowchart");
            var network = createNetwork(container, workflow);

            network.on("click", clickOnCanvas);

            // Create stdoutEditor
            stdoutEditor = ace.edit("stdout-editor");
            stdoutEditor.setTheme("ace/theme/monokai");

            stderrEditor = ace.edit("stderr-editor");
            stderrEditor.setTheme("ace/theme/monokai");

            jsonEditor = ace.edit("json-editor")
            jsonEditor.session.setMode("ace/mode/json");

        });
    })(window, document, window.jQuery);

    function setLoading(containerId) {
        var loadingHtml = '<div class="row align-items-start ml-3 mt-3"><div class="row"><h3 class="mt-2 mr-3 text-black-50">Loading...</h3><div class="spinner-border ml-auto" role="status" aria-hidden="true"></div></div></div>';
          // Set loading message and load summary page
          $('#' + containerId).html(loadingHtml);
    }

    function clickOnCanvas(params){
        var  nodeId = params.nodes[0];
        selected_node = null;

        // find node with  that id
          for (var i = 0;  i < workflow.length; i++){
              var prot = workflow[i];
              if (prot.id == nodeId) {
                  selected_node = prot;
                  break;
              }
          }

          if (selected_node) {
              stdoutEditor.setValue('');
              stderrEditor.setValue('');
              jsonEditor.setValue('');

              setLoading('run_form_container');
              setLoading('summary_row');

              loadRun(['json']);
              loadRun(['stdout']);
              loadRun(['stderr']);

              load_html_from_ajax('summary_row',
                  get_ajax_content('processing_run_summary', getArgs()));
          }
    }

    function loadRun(output){
        var reqRun = $.ajax({
            url: "{{ url_for('api.get_session_run') }}",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({attrs: getArgs({output: output})}),
            dataType: "json"
        });

        reqRun.done(function(data) {
            var run_data = data['run'];
            var form_data = null;

            //alert(JSON.stringify(data));
            if ('json' in run_data) {
                runDict = run_data['json']
                //jsonEditor.setValue(JSON.stringify(run_data, null, 4), 1);
                if (selected_node.type in forms) {
                    form_data = forms[selected_node.type]
                    //jsonEditor.setValue(JSON.stringify(form_data, null, 4), 1);
                }
                else
                    loadRun(['form']);
            }
            else if ('form' in run_data) {
                console.log('Got form for type: ' + selected_node.type);
                form_data = run_data['form'];
                forms[selected_node.type] = form_data;
                //jsonEditor.setValue(JSON.stringify(form_data, null, 4), 1);
            }

            if (form_data) {
                let info = runDict.info;
                $('#logo-label').text(form_data.package + ' - ' + form_data.name);
                $('#logo-label-extra').text('(' + info.name + ')');
                $('#logo-img').attr('src', 'data:image/png;base64,' + form_data.logo);
                $('#logo-img').css('display', form_data.logo ? 'flex': 'none');

                let values = runDict.values;

                {#if ('gpusToUse' in values)#}
                {#    $('#gpuList').val(values.gpusToUse);#}
                {#else#}
                {#    $('#gpuList').val(values.gpuList);#}
                {##}
                {#$('#runLabel').val(runDict.info.label);#}
                {#$('#numberOfThreads').val(values.numberOfThreads);#}
                {#$('#numberOfMpi').val(values.numberOfMpi);#}

                form_create(form_data, values, 'run_form_container');
                jsonEditor.setValue(JSON.stringify(values, null, 4));
            }

            if ('stdout' in run_data)
                stdoutEditor.setValue(run_data['stdout'], 1)

            if ('stderr' in run_data)
                stderrEditor.setValue(run_data['stderr'], 1)
        });

        reqRun.fail(function(jqXHR, textStatus) {
          alert( "Run request failed: " + textStatus );
        });
    }

    function loadRunOverview(title){
        $('#overview-modal-title').text(title);
        setLoading('overview-content');
        $('#overview-modal').modal('show');
         load_html_from_ajax('overview-content',
                  get_ajax_content('processing_run_overview', getArgs()));
    }

    function loadRunFileInfo(path) {
        $('#overview-modal-title').text(path);
        setLoading('overview-content');
        $('#overview-modal').modal('show');
         load_html_from_ajax('overview-content',
                  get_ajax_content('processing_run_overview', getArgs({file_path: path})));
    }

    function loadStarRows(path, tableName) {
         load_html_from_ajax('star_card_content',
                  get_ajax_content('processing_run_overview',
                      getArgs({file_path: path, table_name: tableName})));
    }

    function clickOnExpert() {
        display_expert = $('#switch-expert').prop('checked') ? 'flex' : 'none';
        $('.scn-expert-param').css('display', display_expert);
    }

    function splitPanels(col1, col2) {
        console.log('Splitting ', 'col-' + col1, 'col-' + col2);
        $('#run_col').removeClass().addClass('col-' + col1);
        $('#summary_col').removeClass().addClass('col-' + col2);
    }

    function switchStatus(index) {
        let item = statuses_values[index];
        console.log('Switching status: ', item);
        let otherStatus = 1 - item.status;
        console.log($('#' + item.id + 'row').css('display'));

        $('#' + item.id + 'span').removeClass(status_classes[item.status]).addClass(status_classes[otherStatus]);
        $('#' + item.id + 'row').css('display', status_display[otherStatus]);
        item.status = otherStatus;

        // Make arrangements depending on the other panel status
        let otherItem = statuses_values[1 - index];

        console.log("item: ", item);
        console.log("other: ", otherItem);

        if (item.status > 0) { // showing current index
            if (otherItem.status > 0)
                splitPanels(3, 3);
            else
                splitPanels(5, 1);
        }
        else { // hiding current index
            if (otherItem.status > 0)
                splitPanels(1, 5);
            else
                switchStatus(1 - index);
        }

    }
</script>