{% set card_id = card_id or 'vol_card' %}

<div class="row">

    <!-- Slider Column -->
    <div class="col-12">
        <div class="card ml-3">
            <h4 class="card-header" id="{{ card_id }}_header"> {{ file_path|basename }}</h4>
            <div class="card-body" id="" style="background-color: white">
                <div class="col-12 m-0 p-0" id="{{ card_id }}_volSlider"></div>
            </div>
        </div>
    </div>

</div>


<script>
    var file_path = {{ file_path|tojson }};
    var basename = "{{ file_path|basename }}";
    var slices = {{ slices|tojson }};
    var slice_dim = {{ slice_dim|tojson }};
    var coordinates = {{ coordinates|tojson }};

    (function(window, document, $, undefined) {
    "use strict";
    $(function() {
        //$('#{{ card_id }}_header').text(coordinates.x.length)
        var volSlider = "{{ card_id }}_volSlider";

        var vs = new VolumeSliderCard(volSlider, slices,
            {
                slice_dim: 512,
                coordinates: coordinates
            });


});
})(window, document, window.jQuery);
</script>