{% import "entry_macros.html" as macros %}

<div class="container-fluid dashboard-content">
    <!-- Header -->
    {% set title = "Projects List" %}
    {% set navigation = [('Projects', '')] %}
    {% include 'include_header.html' %}
    {% set is_manager = current_user.is_manager %}

    <!-- table row -->
    {{ macros.hidden_hour_id() }}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% if is_manager or user_can_create_projects %}
                        <div class="row col-12 mb-5">
                            <div class="col-6">
                                <a href="javascript:showProjectForm(null)" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Create Project</a>
                            </div>
                            <div class="col-6 align-items-end text-right">
                                <span class="mr-3"><strong>Display</strong></span>
                                {% if is_manager %}

                                    <select id="project-pid-select" class="selectpicker" onchange="onPidChanged()">
                                        {% set selected = 'selected' if pid == 0 else '' %}
                                        <option value="0" {{ selected }}>All</option>
                                        {% for k, pi in pi_select.items() %}
                                            {% set selected = 'selected' if pid == k else '' %}
                                            <option value="{{ k }}" {{ selected }}>{{ pi['name'] }} ({{ pi['count'] }} projects)</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <select id="project-scope-select" class="selectpicker" onchange="onScopeChanged()">
                                        {% for ps in possible_scopes %}
                                            {% set selected = 'selected' if scope == ps['key'] else '' %}
                                            <option value="{{ ps['key'] }}" {{ selected }}>{{ ps['label'] }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}


                    <div class="table-responsive" id="table-content">

                        {% include 'projects_list_table.html' %}

                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- end table row -->

</div>

<!-- ============================================================== -->
<!-- Project Modal -->
<!-- ============================================================== -->
<div class="modal fade" id="project-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>


<script>
    (function(window, document, $, undefined) {
    "use strict";

    $('select').selectpicker();

    })(window, document, window.jQuery);

    function onPidChanged(){
        var pid = $('#project-pid-select').selectpicker('val');
        load_html_from_ajax('table-content', get_ajax_content('projects_list_table', {pid: pid}));
    }

    function onScopeChanged(){
        var scope = $('#project-scope-select').selectpicker('val');
        load_html_from_ajax('table-content', get_ajax_content('projects_list_table', {scope: scope}));
    }

</script>