{% import "entry_macros.html" as macros %}

<div class="container-fluid dashboard-content">
    <!-- Header -->
    {% set title = "Projects List" %}
    {% set navigation = [('Projects', '')] %}
    {% include 'include_header.html' %}
    {% set is_manager = current_user.is_manager %}

    <!-- table row -->
    <input type="hidden" value="09:00:00.000", id="hour_id">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% if is_manager or user_can_create_projects %}
                        <div class="col-12 mb-5">
                            <a href="javascript:showProjectForm(null)" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Create Project</a>
                        </div>
                    {% endif %}
                    <div class="table-responsive">
                        <table id="projects-table" class="table">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>last updated</th>
                                    <th>user/pi</th>
                                    <th>title</th>
                                    <th>microscope days</th>
                                    <th>sessions</th>
                                    <th>images</th>
                                    <th>data</th>

                                    {% if show_extra %}
                                        <th>extra</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                            {% for p in projects %}
                                {% set status = p['status'] %}
                                {% if is_manager or status != 'disabled' %}
                                    {% set color = 'black' if status == 'active' else 'gray' %}
                                    <tr style="color: {{ color }}">
                                        <td>
                                            {{ macros.project(p) }}
                                            {% if  current_user.can_edit_project(p) %}
                                                 <a href="javascript:showProjectForm({{ p['id'] }})" class="btn btn-outline-light">
                                                     <i class="far fa-edit"></i></a>
                                            {% endif %}
                                            {% if  current_user.can_delete_project(p) %}
                                                 <a href="javascript:deleteProject({{ p['id'] }})" class="btn btn-outline-light">
                                                     <i class="far fa-trash-alt"></i></a>
                                            {% endif %}
                                        </td>
                                        <td>{{ p.last_update_date|pretty_date }} by {{ p.last_update_user.name }}</td>
                                        {% set pi = p.user.get_pi() %}
                                        {% set apps = pi.get_applications() if pi else [] %}
                                        {% set app = ' / %s'|format(apps[0].code) if apps and show_application else '' %}
                                        <td>{{ p.user|pairname }} {{ app }}</td>
                                        <td>{{ p.title }}</td>
                                        <td>{{ p.stats['days'] }}</td>
                                        <td style="max-width: 300px">
{#                                            {{ p.stats['sessions'] }}#}
                                            {{ macros.session_list(p.sessions) }}
                                        </td>
                                        <td>{{ p.stats['images'] }}</td>
                                        <td>{{ p.stats['size'] }}</td>
                                        {%  if show_extra %}
                                            <td> {{ p.extra }} </td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end table row -->

</div>

<!-- ============================================================== -->
<!-- Project Modal -->
<!-- ============================================================== -->
<div class="modal fade" id="project-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>


<script>

$('#projects-table').DataTable({
    sDom: 'lfrtip',
    paging: true,
    info: false,
    order: [[ 1, "desc" ]], // sorted by 'last_updated' in reverse order
    pageLength: 25
    //ordering: false
});


</script>