
<div class="container-fluid dashboard-content">
    <!-- Header -->
    {% set title = "Raw Trainings List" %}
    {% include 'include_header.html' %}

    <!-- table row -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Training queue</h5>
                </div>
                <div class="card-body">
                    <input type="checkbox" id="show_all" value="show_all">
                    <label for="show_all"> Show completed</label>
                    <div class="table-responsive">
                        <table id="sessions-table" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                {% for r in resources %}
                                <th>{{ r.name }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% for r in resources %}
                                <td>
                                    <ul>
                                        {% for e in entries[r] %}
                                        <li>{{ e.user.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end table row -->

</div>


<script>

(function(window, document, $, undefined) {
"use strict";

    $('.selectpicker').selectpicker();

})(window, document, window.jQuery);

</script>
