
<div class="container-fluid dashboard-content">
    <!-- Header -->
    {% set title = "Microscopes Usage" %}
    {% set navigation = [('Reports', ''), ('Microscopes Usage', '')] %}
    {% include 'include_header.html' %}

    <div class="card card-body">
        <div class="row">
            <div class="row col-8 text-left">

                <div class="col-2">

        {#            <div class="col-12 text-left" style="margin-top: 7px;">#}
                        <h5>Application</h5>
                            {% if applications|length == 1 %}
                                {% set a = applications[0] %}
                                <span class="mt-1 ml-1">{{ a.code }}</span>
                                <input type="hidden" value="{{ a.id }}" id="application-id">
                            {% else %}
                                <select id="selectpicker-app" class="selectpicker" data-live-search="true" data-width="auto">
                                    {% set selected = 'selected' if app_id == 'all' else '' %}
                                    <option value="all" {{ selected }}>All</option>
                                    {% for a in applications %}
                                        {% set selected = 'selected' if a['id'] == app_id|int else '' %}
                                        {% set alias = '(%s)'|format(a['alias']) if a['alias'] and a['alias'] != None and a['alias'] != 'None' else '' %}
                                        <option value="{{ a['id'] }}" {{selected}}>{{ a['code'] }} {{ alias }}</option>
                                    {% endfor %}
                                </select>
                            {%  endif %}
        {#            </div>#}

                </div>

                <div class="col-2">
                    <h5> Date Range </h5>
                    <input class="form-control" type="text" id="daterange" value="{{ start }} - {{ end }}" />
                </div>

                <div class="col-3">
                    <h5>Resources</h5>
                    <select id="selectpicker-resource" class="selectpicker show-tick" data-width="100%" data-key="resource_id" title="Select Resources..." multiple style="color: white">
                        {% for r in resources %}
                          {% set selected = 'selected' if r['id'] in selected_resources else '' %}
                            <option {{ selected }} value="{{r['id']}}" data-content="<span class='badge' style='background: {{ r['color'] }}; color: #fff;'>{{r['name']}}</span>">{{r['name']}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-2 text-right" style="margin-top: 7px;">
                    <a href="javascript:updateReport()" class="btn btn-primary"> Update Plots</a>

    <!--                <a href="javascript:generatePdf()" class="btn btn-primary"> Generate PDF</a>-->
                </div>

            </div>
            <div class="col-4">
                <h5>Shortcuts</h5>
                <div class="row mt-1 mb-2 ml-1">
                    <label class="m-1 mt-2">Year: </label>
                    <select id="selectpicker-year" class="selectpicker" data-width="auto">
                        {% set selected = 'selected' if app_id == 'all' else '' %}
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026" selected>2026</option>
                    </select>
                </div>

                <div class="row">
                    {% set monthList = [['Jan', 'Feb', 'Mar'], ['Apr', 'May', 'Jun'],['Jul', 'Aug', 'Sep'], ['Oct', 'Nov', 'Dic']] %}
                    {% for months in monthList %}
                        <div class="row col-12 mt-1">
                            <div class="col-auto" >
                                {% set key = "Q%s"|format(loop.index) %}
                                <a href="javascript:reportShortcut('{{ key }}')" class="badge badge-dark mr-1" style="width: 50px">{{ key }}</a>
                            </div>
                            {% for m in months %}
                                <div class="col-auto">
                                    <a href="javascript:reportShortcut('{{ m }}')" class="badge badge-light mr-1" style="width: 50px">{{ m }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="report-content">
    </div>
</div>


<script>

    function getArgs() {
        var app_id = $('#application-id').val();

        if (!app_id)
            app_id = $('#selectpicker-app').selectpicker('val');

        return {
            key: last_key,
            start: start_date,
            end: end_date,
            selected_resources: $('#selectpicker-resource').selectpicker('val'),
            metric: 'all',
            application: app_id
        }
    }
    function reportShortcut(key) {
        var ranges = {
            Q1: [0, 1, 2, 31],
            Q2: [3, 1, 5, 30],
            Q3: [6, 1, 8, 30],
            Q4: [9, 1, 11, 31],
            Jan: [0, 1, 0, 31],
            Feb: [1, 1, 1, 29],
            Mar: [2, 1, 2, 31],
            Abr: [3, 1, 3, 30],
            May: [4, 1, 4, 31],
            Jun: [5, 1, 5, 30],
            Jul: [6, 1, 6, 31],
            Aug: [7, 1, 7, 31],
            Sep: [8, 1, 8, 30],
            Oct: [9, 1, 9, 31],
            Nov: [10, 1, 10, 30],
            Dec: [11, 1, 11, 31],
        }

        var r = ranges[key];
        var year = $('#selectpicker-year').selectpicker('val');
        var start = new Date(year, r[0], r[1]);
        var end = new Date(year, r[2], r[3]);
        start_date = dateStr(start);
        end_date = dateStr(end);

        $('#daterange').data('daterangepicker').setStartDate(start);
        $('#daterange').data('daterangepicker').setEndDate(end);
        updateReport();
    }

    function updateReport() {
        var args = getArgs();
        let selected_resources = args.selected_resources;

         $("#report-content").empty();

        const element = document.getElementById('report-content');
        // element.innerHTML = '';

         for (let i = 0; i < selected_resources.length; ++i){
             let resource_id = selected_resources[i];
             let idStr = "content-resource-" + resource_id;

             // Create a new element
            const child = document.createElement('div');
            child.id = idStr
            child.className = "card card-body";
            child.textContent = idStr;
            element.appendChild(child);
            args.selected_resources = JSON.stringify([resource_id]);
            load_html_from_ajax(idStr, get_ajax_content('report_microscopes_usage_content', args));
         }
    }

    function selectEntryList(key, resource_id) {
        last_key = key;
        var args = getArgs();
        args.selected_resources = JSON.stringify([resource_id]);
        show_modal_from_ajax('show-entries-modal',
            get_ajax_content('report_microscopes_usage_entrylist', args));
    }

    function generatePdf(){
        savePdf('report-content');
    }

</script>

<script>
    var start_date = dateStr(new Date({{ start|tojson }}));
    var end_date = dateStr(new Date({{ end|tojson }}));
    var last_key = null;

    $('select').selectpicker();

    $('#daterange').daterangepicker({
        "locale": {
            "format": "YYYY/MM/DD",
            "firstDay": 1
        },
        opens: 'left',
        ranges: {
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'Last 6 Months': [moment().subtract(6, 'months'), moment()],
           'This Year': [moment().startOf('year'), moment().endOf('year')],
           'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
        }
    }, function(start, end, label) {
        start_date = start.format('YYYY/MM/DD');
        end_date = end.format('YYYY/MM/DD');
    });

    updateReport();

</script>