
{% import "entry_macros.html" as macros %}


{{ macros.table_card('Grid Box',
    [['Grid Box Slots', '', '', '', ''],
     ['Sample(s)', '', '', '', ''],
     ['Grid Type', '', '', '', ''],
     ['Add. Grid Info.', '', '', '', ''],
     ['Glow Discharge', '', '', '', ''],
     ['Device, Temp., RH (%)', '', '', '', ''],
     ['Blot Time, Wait Time, Drain Time (s)', '', '', '', ''],
     ['Blot Force, Blot Total, No. Applications', '', '', '', ''],
     ['Manual Blot / Backside Blot', '', '', '', ''],
     ['Add. Freezing Info.', '', '', '', ''],
     ])
}}

















