
{% import "entry_macros.html" as macros %}

{{ macros.table_card('Session Details',
    [('Session ID', 'CEM00046'),
     ('Start Date', '2021-11-30'),
     ('Number of Days', '2')
     ])
}}

{% set film = {'Carbon': 'C', 'Gold': 'Au', 'Other': 'Other'}[data['film_material']] %}
{% set hole_size = data['hole_size'] %}
{% set hole_size_prefix = '' if hole_size in ['Lacey', 'Multihole'] else 'R'  %}
{% set mesh = 'Other' if data['mesh'] == 'Other' else data['mesh'][0] %}
{% set grid_material = {'Copper': 'Cu', 'Gold': 'Au', 'Nickel': 'Ni', "Molybdenum": "Mo", 'Other': 'Other'}[data['grid_material']] %}
{% set grid_type = '%s-%s %s-%s%s%s'|format(data['grid_manufacturer'], film, hole_size_prefix, hole_size, mesh, grid_material) %}


{{ macros.table_card('Sample Details',
    [('Grid Type', grid_type),
     ('Sample / Grid ID', '%s / %s'|format(data['sample'], data['gridbox_label']))
     ])
}}

{{ macros.table_card('Microscope Details',
    [('Detector [Mode]', '%s [%s]'|format(data['detector'], data['detector_mode'])),
     ('Accelerating Voltage', '%s kV'|format(data['voltage'])),
     ('Spherical Aberration', '%s mm'|format(data['spherical_aberration']))
     ])
}}

{{ macros.table_card('Software Details',
    [('Collection Software', data['collection_software']),
     ('Selection Type', data['selection_type']),
     ('Acquisition Mode', data['acquisition_mode'])
     ])
}}

{% set apertures = "%s µm, %s µm, %s µm"|format(data['aperture_c1'], data['aperture_c1'], data['aperture_c1'])%}
{% set objective_aperture = "%s µm"|format(data['objective_aperture']) %}

{{ macros.table_card('Data Acquisition Details',
    [('Apertures (C1, C2, C3)', apertures),
     ('Objective Aperture', objective_aperture),
     ('Acquisition Mode', data['acquisition_mode'])
     ])
}}




