<!-- wrapper  -->
{% macro status_card(label) -%}
    <div class="col-2">
        <div class="card status_card">
            <div class="card-body">
                <h5 class="text-muted">{{label}}</h5>

                {{ caller() }}

            </div>
            <div id="sparkline-revenue"></div>
        </div>
    </div>
{%- endmacro %}


{% macro status_card_counter(label, counter_id) -%}
    <div class="col-2">
        <div class="card status_card">
            <div class="card-body">
                <h5 class="text-muted">{{label}}</h5>

               <div class="metric-value d-inline-block">
                    <h1 class="mb-1" id="{{ counter_id }}"></h1>
                </div>

                <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                    {{ caller() }}
                </div>

            </div>
            <div id="sparkline-revenue"></div>
        </div>
    </div>
{%- endmacro %}


{% macro status_row(label, value, id) -%}
    <div class="row col-12 p-0 m-0">
        <label class="text-muted col-4 p-0 m-0 text-right">{{ label }}</label>
        <label class="col-8" id="{{ id }}">{{ value }}</label>
    </div>
{%- endmacro  %}


{% macro bins_table(label, bins) -%}
    <div class="col-12 p-0 m-0 pt-1 pb-1" style="background-color: 	#F5F5F5; border: solid 0.5px #BEBEBE; border-radius: 5px">
    <div class="row col-12 p-0 m-0">
        <div class="col-6 font-bold">{{ label }}</div>
        <div class="col-3 font-bold text-right">#</div>
        <div class="col-3 font-bold text-right">%</div>
    </div>
    {% for label, b, p in bins %}
        <div class="row col-12 p-0 m-0">
            <div class="col-5">{{ label }}</div>
            <div class="col-4 text-right">{{ b }}</div>
            <div class="col-3 text-right">{{ p }}</div>
        </div>
    {% endfor %}
    </div>
{%- endmacro  %}


{% set booking = s.booking %}
{% set owner = booking.owner %}
{% set pi = owner.get_pi() %}
{% set is_manager = current_user.is_manager %}


    <div class="container-fluid dashboard-content ">
        <!-- Header -->
        {% set title = "Session Live Pre-processing" %}
        {% set navigation = [('Sessions', url_for_content('sessions_list')),
                             (session.name, url_for_content('session_details', session_id=session.id)),
                             ('Live', '')] %}
        {% include 'include_header.html' %}
        {% import "entry_macros.html" as macros %}

        {% if is_manager or current_user.same_pi(owner) %}

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">

                    <!-- Row: Status cards -->
                    <div class="row">
                        {% call status_card('Info') %}
                            <div class="row col-12 p-0 m-0">
                                <div class="col-4 p-0 m-0" >
                                    <label class="text-muted col-12 p-0 m-0">{{ booking.start|pretty_date }}</label>
                                    <div class="col-12 p-0 m-0">
                                        <img class="col-4 m-0 p-0" src="{{ url_for('images.static', filename=booking.resource.image) }}" alt="{{ booking.resource.name }}" width="48">
                                        <label class="text-muted col-8 p-0 m-0" style="font-weight: bold">{{ booking.resource.name }}</label>
                                    </div>

                                </div>
                                <div class="col-8 p-0 m-0">
                                    {{ status_row('Operator', booking.operator|shortname) }}
                                    {{ status_row('Owner', owner|pairname) }}
                                    {{ status_row('Project', macros.project(s.project)) }}
                                </div>
                            </div>

                        {% endcall %}

                        {% call status_card_counter('Imported', 'counter_imported') %}
                            <span><i class="fas fa-tachometer-alt"></i></span><span id="imported_tag"></span>
                        {% endcall %}

                        {% call status_card_counter('Motioncor/CTF', 'ctf_count') %}
                            <span id="ctf_diff" class="mr-2 text-warning"></span>
                            <span class="text-success"><i class="fas fa-tachometer-alt"></i></span>
                            <span  class="text-success" id="ctf_speed"></span>
                        {% endcall %}

                        {% call status_card_counter('Particle Picking', 'counter_picked') %}
                            <span id="diff_picked">0</span>
                        {% endcall %}

                        {% call status_card('Data') %}
                            <div class="row col-12 p-0 m-0">
                                <div class="col-4 p-0 m-0" >
                                    <label class="text-muted col-12 p-0 m-0">Size: </label>
                                    <h3 class="text-muted col-12 p-0 m-0" style="font-weight: bold"><span style="color: #3d405c">{{ s.size|pretty_size }}</span></h3>
                                </div>
                                <div class="col-8 p-0 m-0">
                                    {{ status_row('Files', s.total_files) }}
                                    {{ status_row('Images', s.images) }}
                                </div>
                            </div>
                        {% endcall %}

                        {% call status_card('Status') %}
                            <div class="row col-12 p-0 m-0">
                                <div class="col-4 p-0 m-0" >
                                    <label class="text-muted col-12 p-0 m-0">OTF: </label>
                                    <h3 class="text-muted col-12 p-0 m-0 font-bold"><span style="color: #3d405c">{{ s.otf_status }}</span></h3>
                                </div>
                                <div class="col-8 p-0 m-0">
                                    {{ status_row('Processes', s.total_files, 'label_processes') }}
                                    {{ status_row('Updated', s.extra['updated'], 'label_updated') }}
                                </div>
                            </div>
                        {% endcall %}

                    </div>


                    <!-- Row: Plots and Micrograph thumbnails -->
                    <div class="row">
                        <div class="col-5" id="ctf_plots">
                            <div class="plots">
                                <div class="card">
                                    <h5 class="card-header">CTF Defocus</h5>
                                    <div class="card-body">
                                        <div class="row">
                                            <div id="defocus_plot" class="col-9" style="height: 300px"></div>
                                            <div class="row col-3 p-0 m-0  no-gutters">
                                                <div class="col-12 p-0 m-0" id="defocus_hist1"></div>
                                                {{ bins_table('Defocus (µm)', defocus_bins) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <h5 class="card-header">CTF Resolution</h5>
                                    <div class="card-body">
                                        <div class="row">
                                            <div id="resolution_plot" class="col-9" style="height: 300px"></div>
                                            <div class="row col-3 p-0 m-0  no-gutters">
                                                <div class="col-12 p-0 m-0" id="resolution_hist1"></div>
                                                {{ bins_table('Resolution (Å)', resolution_bins) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-2" id="polar_plots">
                                <div class="card plots">
                                    <h5 class="card-header">Polar Charts</h5>
                                    <div class="card-body p-0 m-0">
                                        <div id="polar1" class="mt-3"></div>
                                        <div id="polar4" class="mt-3"></div>

                                    </div>
                                </div>
                        </div>

                        <div class="col-5" id="image_plots">

                            <div class="row col-12">
                                <!-- GridSquare and FoilHole card -->
                                <div class="col-6">
                                    <div class="col-12" id="gs">
                                         <div class="card card-figure" id="gs-container">
                                             {{ macros.overlay("overlay_loc") }}
                                            <figure class="figure">
                                                <img class="img-fluid" id="gs-image" src="{{ url_for('static', filename='images/card-img.jpg') }}" alt="Card image cap">
                                                <label class="text-muted mb-0" id="gs-label">  </label>
                                            </figure>
                                             <div class="row col-12 p-0 m-0">

                                                <div class="col-6 p-0 m-0" id="gs_defocus_hist" ></div>
                                                <div class="col-6 p-0 m-0" id="gs_resolution_hist"></div>
                                            </div>

                                         </div>
                                    </div>
                                </div>

                                <!-- Div for PSD and Micrograph info -->
                                <div class="col-6">

                                     <!-- Div for Micrograph -->
                                     <div class="col-12" id="mic_plot">
                                         <div class="card card-figure" id="image-container">

                                             <!-- Display overlay when loading micrograph -->
                                             {{ macros.overlay("overlay_mic") }}

                                            <figure class="figure">
                                                <canvas id="canvas_micrograph"></canvas>
                                            </figure>

                                             <div class="row col-12 mt-2 ml-0 pl-0">

                                                <div class="col-5 ml-0 pl-0">
                                                    <figure class="figure">
                                                        <img class="img-fluid" id="img_psd" src="{{ url_for('static', filename='images/card-img.jpg') }}" alt="Card image cap">
                                                    </figure>
                                                </div>

                                                <div class="col-7 mr-0 pr-0">
                                                    <br/>
                                                        <div class="input-group input-group-sm mb-3">
                                                          <div class="input-group-prepend">
                                                            <h5 class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 13px">Micrograph</h5>
                                                          </div>
                                                          <input type="text" id="mic_id" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                                        </div>
                                                        <label class="text-muted mb-0" id="mic_defocus_u"> Defocus U: </label> <br/>
                                                        <label class="text-muted mb-0" id="mic_defocus_v"> Defocus V: </label><br/>
                                                        <label class="text-muted mb-0" id="mic_defocus_angle"> Defocus Angle: </label><br/>
                                                        <label class="text-muted mb-0" id="mic_astigmatism"> Astigmatism: </label><br/>
                                                        <label class="text-muted mb-0" id="mic_resolution"> Resolution: </label><br/>
                                                        <label class="text-muted mb-0" id="mic_gs">  </label><br/>
                                                        <label class="text-muted mb-0" id="mic_fh">  </label><br/><br/>
                                                </div>

                                            </div>

                                        </div>



                                    </div>

                                </div>

                            </div>

                        </div>

                </div>

                    <!-- Row: 2D and 3D -->
                    <div class="row">
                            <!-- 2D classes Card -->
                            <div class="col-7" id="classes2d_plot">
                                <div class="card">
                                    <h5 class="card-header">Classes 2D</h5>
                                    <div class="card-body">
                                        {{ macros.overlay('overlay_classes2d') }}
                                        <div class="row" id="classes2d_container"> </div>
                                    </div>
                                </div>
                            </div>

                        <div class="col-5" id="card_3d">
                            <div class="card">
                                <h5 class="card-header">3D</h5>
                                <div class="card-body">
                                    <!-- Display overlay when loading 3d -->
                                    <div id="overlay_3d" class="overlay">
                                        <div class="w-100 d-flex justify-content-center align-items-center">
                                            <div class="row text-white-50">
                                              <h4 class="pr-5 text-white-50" id="overlay_classes2d_text"></h4>
                                              <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="container_3d"> </div>
                                </div>
                            </div>
                        </div>

                    </div>

            </div>
        </div>

        {% else %}
            <div>
            <h2>You do not have access to this information.</h2>
            <p>A session is only visible by people on the same lab </p>
            </div>
        {% endif %}

    </div>

<!-- end wrapper  -->


<!-- javascript  -->

<script>
    // Global variables
    var canvas_ratio = null;
    var micrograph = null;
    var lastGridSquare = null;
    var lastFoilHole = null;
    var coordsDisplay = null;

    var global_data = null;
    var overlay_2d, overlay_mic = null;

    var session_plots = null;
    var session_data = null;
    var session_timespan = {};
    var session_id = "{{ session['id']}}";
    var urls = {
        get_session_data: "{{ url_for('api.get_session_data') }}",
        get_mic_data: "{{ url_for('images.get_mic_data') }}",
        get_mic_location: "{{ url_for('images.get_mic_location') }}"
    };


(function(window, document, $, undefined) {
    "use strict";
    $(function() {
        overlay_mic = new Overlay('overlay_mic');
        overlay_2d = new Overlay('overlay_classes2d');

        //session_getData({result: 'micrographs'});
        session_reload();
        session_getData({result: 'classes2d'});

        $(window).resize(session_resize);

        $("#mic_id").on('keyup', function (e) {
            if (e.key === 'Enter' || e.keyCode === 13) {
                session_getMicData($("#mic_id").val());
            }
        });

        makeSameHeight('plots');
        makeSameHeight('status_card');
});

})(window, document, window.jQuery);



/** Helper functions to handle Template AJAX response or failure */














</script>
