<!-- wrapper  -->
<div class="container-fluid dashboard-content ">
    <!-- Header -->
    {% set title = "Session Live Pre-processing" %}
    {% set navigation = [('Sessions', url_for_content('sessions_list')),
                         (session.name, url_for_content('session_details', session_id=session.id)),
                         ('Live', '')] %}
    {% include 'include_header.html' %}
    {% import "entry_macros.html" as macros %}

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">

            <!-- Status cards row -->
            <div class="row">

                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="text-muted">Imported</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1" id="counter_imported"></h1>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                        <span><i class="fa fa-fw fa-arrow-up"></i></span><span>#value</span>
                                    </div>
                                </div>
                                <div id="sparkline-revenue"></div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="text-muted">Aligned</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1" id="counter_aligned"></h1>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-secondary font-weight-bold">
                                        <span id="diff_aligned"></span>
                                    </div>
                                </div>
                                <div id="sparkline-revenue2"></div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="text-muted">CTF Estimation</h5>
                                    <div class="metric-value d-inline-block">
                                    <h1 class="mb-1" id="counter_ctf"></h1>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-primary font-weight-bold">
                                    <span id="diff_ctf"></span>
                                    </div>
                                </div>
                                <div id="sparkline-revenue3"></div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="text-muted">Particle Picking</h5>
                                    <div class="metric-value d-inline-block">
                                    <h1 class="mb-1" id="counter_picked"></h1>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                    <span id="diff_picked">0</span>
                                    </div>
                                </div>
                                <div id="sparkline-revenue4"></div>
                            </div>
                        </div>
                </div>
                </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="text-muted">Status</h5>
                                <div class="metric-value d-inline-block">
                                <h1 class="mb-1" id="status_text">{{ session['status'] }}</h1>
                                </div>
                                <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                <span id="diff_picked">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <!-- thumbnails row -->
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">

                    <div class="card">
                        <h5 class="card-header">CTF Defocus</h5>
                        <div class="card-body">
                            <div class="row">
                                <div id="defocus_plot" class="col-9" style="height: 300px"></div>
                                <div class="row col-3 p-0 m-0  no-gutters">
                                    <div class="col-12 p-0 m-0" id="defocus_hist1"></div>
                                    <div class="col-12 p-0 m-0" id="defocus_hist2"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <h5 class="card-header">CTF Resolution</h5>
                        <div class="card-body">
                            <div class="row">
                                <div id="resolution_plot" class="col-9" style="height: 300px"></div>
                                <div class="row col-3 p-0 m-0  no-gutters">
                                    <div class="col-12 p-0 m-0" id="resolution_hist1"></div>
                                    <div class="col-12 p-0 m-0" id="resolution_hist2"></div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <h5 class="card-header">Polar Charts</h5>
                            <div class="card-body p-0 m-0">
{#                                <canvas id="chartjs_polar"></canvas>#}
                                <div id="polar1" class="mt-3"></div>
                                <div id="polar2" class="mt-3"></div>
                                <div id="polar3" class="mt-3"></div>
                                <div id="polar4" class="mt-3"></div>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                    <div class="row">
                    <!-- Div for PSD and Micrograph info -->
                        <div class="col-3">
                            <div class="card card-figure">

                                <!-- .card-figure -->
                                <figure class="figure">
                                    <img class="img-fluid" id="img_psd" src="{{ url_for('static', filename='images/card-img.jpg') }}" alt="Card image cap">
                                    <div>
                                        <br/>
                                            <div class="input-group input-group-sm mb-3">
                                              <div class="input-group-prepend">
                                                <h5 class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 13px">Micrograph</h5>
                                              </div>
                                              <input type="text" id="mic_id" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                            </div>
                                            <label class="text-muted mb-0" id="mic_defocus_u"> Defocus U: </label> <br/>
                                            <label class="text-muted mb-0" id="mic_defocus_v"> Defocus V: </label><br/>
                                            <label class="text-muted mb-0" id="mic_defocus_angle"> Defocus Angle: </label><br/>
                                            <label class="text-muted mb-0" id="mic_astigmatism"> Astigmatism: </label><br/>
                                            <label class="text-muted mb-0" id="mic_resolution"> Resolution: </label><hr/>
                                            <label class="text-muted mb-0" id="mic_particles"> Particles: </label><br/>
                                            <label class="text-muted mb-0" id="mic_particles_display"> Display: </label><br/><br/>
                                    </div>

                                    <!-- /.figure-caption -->
                                </figure>
                                <!-- /.card-figure -->
                                <!-- /.card -->
                            </div>
                        </div>

                        <!-- Div for Micrograph -->
                        <div class="col-9">
                             <div class="card card-figure" id="image-container">

                                 <!-- Display overlay when loading micrograph -->
                                <div id="overlay_mic" class="overlay">
                                    <div class="w-100 d-flex justify-content-center align-items-center">
                                        <div class="row text-white-50">
                                          <h4 class="pr-5 text-white-50" id="overlay_mic_text"></h4>
                                          <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                                        </div>
                                    </div>
                                </div>

                                <figure class="figure">
                                    <canvas id="canvas_micrograph"></canvas>
                                </figure>
                            </div>
                        </div>

                        <!-- 2D classes Card -->
                        <div class="col-12">
                            <div class="card">
                                <h5 class="card-header">Classes 2D</h5>
                                <div class="card-body">
                                    <!-- Display overlay when loading micrograph -->
                                    <div id="overlay_classes2d" class="overlay">
                                        <div class="w-100 d-flex justify-content-center align-items-center">
                                            <div class="row text-white-50">
                                              <h4 class="pr-5 text-white-50" id="overlay_classes2d_text"></h4>
                                              <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="classes2d_container"> </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
            <!-- end thumbnails and classes2d row -->

        </div>
    </div>
</div>
</div>
<!-- end wrapper  -->


<!-- javascript  -->

<script>
    // Global variables
    var ctfs = {
        defocus: {{ defocus|tojson }},
        resolution: {{ resolution|tojson }},
        defocusAngle: {{ defocusAngle|tojson }},
        astigmatism: {{ astigmatism|tojson }},
        tsRange: {{ tsRange|tojson }}
    }
    var session = {{ session|tojson }};

    var canvas_ratio = null;
    var micrograph = null;
    var coordsDisplay = null;

    var global_data = null;
    var overlay_2d, overlay_mic = null;


    function fixDimensions(){
        var canvas = document.getElementById("canvas_micrograph");
        var w = $("#canvas_micrograph").width();
        var h = Math.round(w / canvas_ratio);
        $("#canvas_micrograph").height(h);
    }


(function(window, document, $, undefined) {
    "use strict";
    $(function() {

        var stats = {{ stats|tojson }};
        updateStatsCounters(stats);

        overlay_mic = new Overlay('overlay_mic');
        overlay_2d = new Overlay('overlay_classes2d');

        var config = {
            color: '#852999',
            label: 'Defocus',
            suffix: 'µm',
            maxY: 0.0,
            startX: ctfs.tsRange.first,
            stepX: ctfs.tsRange.step
        }

        var data = [];

        for (var i = 0; i < ctfs.defocusAngle.length; ++i) {
            var angle = ctfs.defocusAngle[i];
            if (angle < 0)
                angle = 360 + angle;
            const a = ctfs.astigmatism[i];
            if (a > config.maxY)
                config.maxY = a;
            data.push([angle, a])
        }
        config.maxY = config.maxY + (config.maxY * 0.1)

        create_hc_series('defocus_plot', ctfs.defocus, config);
        create_hc_histogram('defocus_hist1', ctfs.defocus, config);
        //create_hc_histogram('defocus_hist2', color);

        config.color ='#EF9A53';
        config.label = 'Resolution';
        config.suffix = 'Å';
        create_hc_series('resolution_plot', ctfs.resolution, config);
        create_hc_histogram('resolution_hist1', ctfs.resolution, config);
        //create_hc_histogram('resolution_hist2', color);

        config.color = '#55D8C1';


        create_hc_polar('polar1', data, 'Azimuth (all)', config);
        create_hc_polar('polar2', data.slice(Math.round(data.length * 0.7)),
                        'Azimuth (last 30%)', config);
        create_hc_polar('polar3', data.slice(Math.round(data.length * 0.8)),
                        'Azimuth (last 20%)', config);
        create_hc_polar('polar4', data.slice(Math.round(data.length * 0.9)),
                        'Azimuth (last 10%)', config);

    /* Register when the display coordinates changes */
    $('input[type=radio][name=coords-radio]').change(function() {
        coordsDisplay = this.dataset.option;
        drawMicrograph(micrograph);

    });

    // Load last micrograph asynchronous
    requestMicrographData(session.id, ctfs.resolution.length - 1);

    // Load 2D classes asynchronous
        console.log(stats);
    if (stats.classes2d)
        requestClasses2D();

    setTimeout(reloadSessionData, 60000);

    $(window).resize(fixDimensions);

    $("#mic_id").on('keyup', function (e) {
        if (e.key === 'Enter' || e.keyCode === 13) {
            requestMicrographData($("#mic_id").val());
        }
    });

});

})(window, document, window.jQuery);

function updateStatsCounters(stats){
    function setCounter(container, value){
            document.getElementById(container).innerHTML = value;
        }
    setCounter('counter_imported', stats['numOfMics']);
    setCounter('counter_picked', stats['classes2d']);

    //document.getElementById('counter_imported').innerHTML = stats['numOfMovies'];
    document.getElementById('counter_aligned').innerHTML = stats['numOfMics'];
    document.getElementById('diff_aligned').innerHTML = (stats['numOfMics'] - stats['numOfMovies']).toString();
    document.getElementById('counter_ctf').innerHTML = stats['numOfCtfs'];
    document.getElementById('diff_ctf').innerHTML = (stats['numOfCtfs'] - stats['numOfMics']).toString();
    //document.getElementById('counter_picked').innerHTML = stats['numOfPtcls'];
}

/** Helper functions to handle Template AJAX response or failure */
function handleAjaxDone(jsonResponse) {
    var error = null;

    if ('error' in jsonResponse) {
        error = jsonResponse.error;
    }
    else {
        session = jsonResponse.session;
        updateStatsCounters(jsonResponse.stats);

        var classes2d = jsonResponse.classes2d;

        if (classes2d.length) {
            drawClasses2d('classes2d_container', classes2d);
            overlay_2d.hide();
            //
        }

        // Update Defocus plot with new values since last time
        var new_defocus_values = jsonResponse.defocus;
        var new_resolution_values = jsonResponse.resolution;
        var newValuesLength = new_resolution_values.length - ctf.resolution.length;

        if (newValuesLength > 0) {
            console.log("New values: ", newValuesLength);
            //requestMicrographData(new_resolution_values.length-1);
        }
    }
}

function handleAjaxFail(jqXHR, textStatus) {
    alert(" Error: Request failed: " + textStatus );
}

function reloadSessionData() {
    requestSessionData({result: 'micrographs'});

    if (session.status != "finished") {
        setTimeout(reloadSessionData, 60000);
    }
}

function requestSessionData(attrs) {
    // Update template values
    attrs.session_id = session.id;
    var ajaxContent = $.ajax({
        url: "{{ url_for('api.get_session_data') }}",
        type: "POST",
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({attrs: attrs}),
        dataType: "json"
    });

    ajaxContent.done(handleAjaxDone);
    ajaxContent.fail(handleAjaxFail);


}  // function onTemplateOkButtonClick

function requestMicrographData(micId) {
    $("#mic_id").val(micId);
    overlay_mic.show("Loading Micrograph " + micId + " ...");

    var requestMicThumb = $.ajax({
        url: "{{ url_for('images.get_mic_data') }}",
        type: "POST",
        data: {micId : micId, sessionId: session.id},
        dataType: "json"
       // contentType: "img/png"
    });

    requestMicThumb.done(function(data) {
        micrograph = {
            thumbnail: data['micThumbData'],
            coordinates: data['coordinates'],
            pixelSize: data['pixelSize'],
            thumbnailPixelSize: data['micThumbPixelSize']
        };

        drawMicrograph(micrograph);

        // $("#img_micrograph").attr('src', 'data:image/png;base64,' + data['micThumbData']);
        $("#img_psd").attr('src', 'data:image/png;base64,' + data['psdData']);
        {#$("#img_shifts").attr('src', 'data:image/png;base64,' + data['shiftPlotData']);#}
        function setLabel(containerId, value){
            var elem = document.getElementById(containerId);
            var parts = elem.innerHTML.split(":");
            elem.innerHTML = parts[0] + ": " + value;
        }

        //setLabel('mic_id', micId);
        setLabel('mic_defocus_u', data['ctfDefocusU']);
        setLabel('mic_defocus_v', data['ctfDefocusV']);
        setLabel('mic_resolution', data['ctfResolution']);
        overlay_mic.hide();
    });

    requestMicThumb.fail(function(jqXHR, textStatus) {
      alert( "Request failed: " + textStatus );
    });
}

function requestClasses2D(){
    overlay_2d.show("Loading 2D classes...");
    {#document.getElementById("overlay_classes2d").innerHTML = "Loading 2D classes...";#}
    {#document.getElementById("overlay_classes2d").style.display = "flex";#}
    requestSessionData({result: 'classes2d'});
}

</script>
