<!-- wrapper  -->
<div class="container-fluid dashboard-content ">
    <!-- pageheader  -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Microscope sessions overview</h2>
                <!-- <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p> -->
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Sessions</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Overview</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end pageheader  -->
    <!-- main content  -->
    <div class="row">
        {% for session in sessions %}
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ session.microscope }}
                        {% if session.status=='Running' %}
                            <a href="javascript: load_content('session-live-id{{session.id}}');" class="btn btn-success active">Running</a>
                        {% elif session.status=='Error' %}
                            <a href="javascript: load_content('session-live-id{{session.id}}');" class="btn btn-danger active">Error</a>
                        {% endif %}
                    </h3>
                    <h6 class="card-subtitle text-muted mb-3">Session: {{ session.sessionName }}</h6>
                    <h6 class="card-subtitle text-muted mb-3">User: {{ session.users.username }}</h6>
                    <h6 class="card-subtitle text-muted mb-3">Started: {{ session.dateStarted }}</h6>
                    <h6 class="card-subtitle text-muted mb-3">Session id: {{ session.id }}</h6>

                    <div class="row">
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                            <div id="morris_donut{{session.id}}"></div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <!-- The list below is still a TODO. Not in db yet-->
                            <p>Acquiring speed: 120 / h</p>
                            <p>Processed: 170 / 300</p>
                            <a href="#" class="card-link">Errors: 0</a>
                            <a href="#" class="card-link">Warnings: 0</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- end main content  -->
</div>
<!-- end wrapper  -->
<!-- javascript -->
<script>
    (function(window, document, $, undefined) {
    "use strict";
    $(function() {
        if ($('#morris_donut1').length) {
            Morris.Donut({
                element: 'morris_donut1',
                data: [
                    { value: 70, label: 'foo' },
                    { value: 15, label: 'bar' },
                    { value: 10, label: 'baz' },
                    { value: 5, label: 'A really really long label' }
                ],

                labelColor: '#2e2f39',
                   gridTextSize: '14px',
                colors: [
                     "#5969ff",
                                "#ff407b",
                                "#25d5f2",
                                "#ffc750"
                ],

                formatter: function(x) { return x + "%" },
                  resize: true
            });
        }

        if ($('#morris_donut2').length) {
            Morris.Donut({
                element: 'morris_donut2',
                data: [
                    { value: 70, label: 'foo' },
                    { value: 15, label: 'bar' },
                    { value: 10, label: 'baz' },
                    { value: 5, label: 'A really really long label' }
                ],

                labelColor: '#2e2f39',
                   gridTextSize: '14px',
                colors: [
                     "#5969ff",
                                "#ff407b",
                                "#25d5f2",
                                "#ffc750"
                ],

                formatter: function(x) { return x + "%" },
                  resize: true
            });
        }
    });

})(window, document, window.jQuery);
</script>
