

<!-- ============================================================== -->
<!-- ecommerce-product content -->
<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Session name...</h2>
                        <!-- <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p> -->
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Sessions</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Krios 1</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Microscope parameters</h5>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td>Voltage</td>
                                                <td>300 keV</td>
                                            </tr>
                                            <tr>
                                                <td>Cs</td>
                                                <td>2.7 mm</td>
                                            </tr>
                                            <tr>
                                                <td>VPP</td>
                                                <td>No</td>
                                            </tr>
                                            <tr>
                                                <td>Detector</td>
                                                <td>Falcon</td>
                                            </tr>
                                            <tr>
                                                <td>Mode</td>
                                                <td>Linear</td>
                                            </tr>
                                            <tr>
                                                <td>Pixel size</td>
                                                <td>1.1 A</td>
                                            </tr>
                                            <tr>
                                                <td>Dose per frame</td>
                                                <td>1.0 e/A2</td>
                                            </tr>
                                            <tr>
                                                <td>Total dose</td>
                                                <td>35 e/A2</td>
                                            </tr>
                                            <tr>
                                                <td>Exp. time</td>
                                                <td>1 s</td>
                                            </tr>
                                            <tr>
                                                <td>Num. of frames</td>
                                                <td>40</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Session parameters</h5>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td>User</td>
                                                <td>Abcdefergerg</td>
                                            </tr>
                                            <tr>
                                                <td>Started</td>
                                                <td>27/11/2020 30:23</td>
                                            </tr>
                                            <tr>
                                                <td>Particle size</td>
                                                <td>140-160 A</td>
                                            </tr>
                                            <tr>
                                                <td>Num. of particles</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>2D classes</td>
                                                <td>-</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="card card-figure">
                                        <!-- .card-figure -->
                                        <figure class="figure">
                                            <img class="img-fluid" src="{{ url_for('static', filename='images/card-img.jpg') }}" alt="Card image cap">
                                            <!-- .figure-caption -->
                                            <figcaption class="figure-caption">
                                                <h6 class="figure-title"> Micrograph </h6>
                                                <p class="text-muted mb-0"> Give some text description </p>
                                            </figcaption>
                                            <!-- /.figure-caption -->
                                        </figure>
                                        <!-- /.card-figure -->
                                        <!-- /.card -->
                            </div>
                    </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="card card-figure">
                                        <!-- .card-figure -->
                                        <figure class="figure">
                                            <img class="img-fluid" src="{{ url_for('static', filename='images/card-img.jpg') }}" alt="Card image cap">
                                            <!-- .figure-caption -->
                                            <figcaption class="figure-caption">
                                                <h6 class="figure-title"> Drift plot </h6>
                                                <p class="text-muted mb-0"> Give some text description </p>
                                            </figcaption>
                                            <!-- /.figure-caption -->
                                        </figure>
                                        <!-- /.card-figure -->
                                        <!-- /.card -->
                            </div>
                    </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="card card-figure">
                                        <!-- .card-figure -->
                                        <figure class="figure">
                                            <img class="img-fluid" src="{{ url_for('static', filename='images/card-img.jpg') }}" alt="Card image cap">
                                            <!-- .figure-caption -->
                                            <figcaption class="figure-caption">
                                                <h6 class="figure-title"> PSD plot </h6>
                                                <p class="text-muted mb-0"> Give some text description </p>
                                            </figcaption>
                                            <!-- /.figure-caption -->
                                        </figure>
                                        <!-- /.card-figure -->
                                        <!-- /.card -->
                            </div>
                    </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="card card-figure">
                                        <!-- .card-figure -->
                                        <figure class="figure">
                                            <img class="img-fluid" src="{{ url_for('static', filename='images/card-img.jpg') }}" alt="Card image cap">
                                            <!-- .figure-caption -->
                                            <figcaption class="figure-caption">
                                                <h6 class="figure-title"> CTF fit plot </h6>
                                                <p class="text-muted mb-0"> Give some text description </p>
                                            </figcaption>
                                            <!-- /.figure-caption -->
                                        </figure>
                                        <!-- /.card-figure -->
                                        <!-- /.card -->
                            </div>
                    </div>
                </div>
            </div>

        </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Defocus</h5>
                            <div class="card-body">
                                <div id="c3chart_zoom"></div>
                            </div>
                        </div>
                    </div>
    </div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
</div>

