{% import "entry_macros.html" as macros %}

<div class="col-12 row">
        {% for mic in micrographs %}
            <div class="col-3">
                {% set card_id = 'mic_card%d'|format(loop.index) %}
                {% include 'micrograph_card.html' %}
            </div>

        {% endfor %}
    </div>

<script>

(function(window, document, $, undefined) {
    "use strict";
    $(function() {
        var micrographs = {{ micrographs|tojson }};

        for (var i = 1; i < micrographs.length + 1; i++){
            mic_card = new MicrographCard('mic_card' + i);
            mic_card.loadMicData(i);
        }

    });
})(window, document, window.jQuery);

</script>