{% import "entry_macros.html" as macros %}

<div class="container-fluid dashboard-content">
    <!-- Header -->
    {% set title = "Sessions List" %}
    {% set navigation = [('Sessions', '')] %}
    {% include 'include_header.html' %}
    {% set is_manager = current_user.is_manager %}
    {% set is_admin = current_user.is_admin %}

    <!-- table row -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Sessions List</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="sessions-table" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                {% if is_admin %}
                                    <th>actions</th>
                                {% endif %}
                                <th>id</th>
                                <th>name</th>
                                <th>start</th>
                                <th>microscope</th>
                                <th>status</th>
                                <th>OTF</th>
                                <th>images</th>
                                <th>size</th>
                                <th>booking_id</th>
                                <th>project</th>
                                <th>owner</th>
                                <th>staff</th>
                                <th>acq</th>
                                {% if show_extra %}
                                    <td>extra</td>
                                {% endif %}


                            </tr>
                            </thead>
                            <tbody>
                            {% for s in sessions %}
                                {% set booking = s.booking %}
                                {% if booking %}
                                    {% set owner_pi = booking.owner.get_pi() %}
                                    {% set owner_name = booking.owner.name %}
                                {% else %}
                                    {% set owner_pi = None %}
                                    {% set owner_name = None %}
                                {% endif %}

                                {% if is_manager or current_user.same_pi(owner_pi) %}
                                    <tr>
                                        {% if is_admin %}
                                            <td>
                                            <button class="btn btn-sm btn-outline-light" onclick="showSession({{ s.id }})">
                                                    <i class="far fa-edit"></i></button>
                                            <button class="btn btn-sm btn-outline-light" onclick="deleteSession({{ s.id }})">
                                                <i class="far fa-trash-alt"></i></button>
                                            <button class="btn btn-sm btn-outline-light" onclick="createSession({{ booking.id }}, 0)">
                                                <i class="far fa-copy"></i></button>
                                            </td>
                                        {% endif %}
                                        <td>{{ s.id }}</td>
                                        <td>{{ macros.session(s) }}</td>
                                        <td>{{ s.start|pretty_date }} </td>
                                        <td><span class='badge' style='background: {{ s.resource.color }}; color: #fff;'>{{ s.resource.name }}</span></td>
                                        <td>{{ s.status }}</td>
                                        <td><a href="{{ url_for_content('session_live', session_id=s.id) }}">{{ s.otf_status }}: {{ s.data_path|basename }}</a></td>
                                        <td>{{ s.images }}</td>
                                        <td>{{ s.total_size|pretty_size }}</td>
                                        <td><a href="javascript:showBookingForm({booking_id: {{ booking.id }}})">{{ booking.id }}</a></td>
                                        <td>{{ macros.project(s.project) }}</td>
                                        <td>{{ booking.owner|pairname }}</td>
                                        <td>{{ s.operator.name }}</td>
                                        <td>{{ s.acquisition }}</td>
                                        {% if show_extra %}
                                            <td>{{ s.extra }}</td>
                                        {% endif %}

                                    </tr>
                                {% endif %}
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end table row -->

</div>

<!-- ============================================================== -->
<!-- Entry Modal -->
<!-- ============================================================== -->
<div class="modal fade" id="session-modal" tabindex="-1" role="dialog" aria-labelledby="entryModal" aria-hidden="true" >
</div>


<script>
    var bookingDict = {{ bookingDict|tojson }};
    var order_col = {{  1 if is_admin else 0 }};

    $('#sessions-table').DataTable({
        order: [[order_col, "desc"]]
    });

</script>