
<!-- Modal body -->
<div class="modal-body">
    <input type="hidden" id="booking-id" value="{{ booking.id }}">
<!-- Create Session Form -->
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <form id="session-form" data-parsley-validate="" novalidate="">

        <!-- Session's Name -->
        <div class="form-group row">
            <h3 class="col-12 col-sm-3 col-form-label text-sm-right">Session Name</h3>
            <div class="col-12 col-sm-8 col-lg-6">
                <input type="text" required="" placeholder="Provide a session name (up to 16 digits: letters, numbers, underscore or dash)" id="session-name" data-key="session_name" class="form-control" value="">
            </div>
        </div>

        <!-- Owner Row -->
        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">Owner</label>
            <div class="col-12 col-sm-8 col-lg-6">
                <h4 class="col-12 text-sm-left">{{ booking.owner.name }}</h4>
            </div>
        </div>

        <!-- Operator Row -->
        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">Operator</label>
            <div class="col-12 col-sm-8 col-lg-6">
                <label class="col-12 col-sm-3 col-form-label text-sm-left">{{ booking.operator.name }}</label>
            </div>
        </div>

        <!-- Microscope Row -->
        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">Microscope</label>
            <div class="col-12 col-sm-8 col-lg-6">
{#                        <label id="application-label" class="col-12 col-sm-3 col-form-label text-sm-left">{{ booking.resource.name }}</label>#}

                <div class="row align-items-center justify-content-start">
                <div class="col">
                    <img src="{{ url_for('images.static', filename=booking.resource.image) }}" alt="{{ booking.resource.name }}" width="48" style="margin-right: 0;">

                </div>
                <div class="col-10 text-sm-left">
                    <h5>{{ booking.resource.name }}</h5>
                </div>
            </div>

            </div>
        </div>

        <!-- Raw data folder -->
        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">RAW data folder</label>
            <div class="col-12 col-sm-8 col-lg-6">
                <input type="text" required="" placeholder="Provide RAW data folder" id="raw-folder" class="form-control"
                       value="" data-key="raw_folder">
            </div>
        </div>

        <!-- OTF folder -->
        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">OTF folder</label>
            <div class="col-12 col-sm-8 col-lg-6">
                <input type="text" required="" placeholder="If OTF folder is not provided it will be created" id="otf-folder" class="form-control"
                       value="" data-key="otf_folder">
            </div>
        </div>

        <!-- Project id -->
        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">Project ID</label>
            <div class="col-12 col-sm-8 col-lg-6">
                <select id="session-projectid-select" class="selectpicker show-tick" data-live-search="true" data-key="project_id">
                    <option value="0">Not set</option>
                    {% for p in projects %}
                        {% set selected = 'selected' if p.id == booking.project.id else '' %}
                        <option {{ selected }} value="{{ p.id }}">{{ p.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>



    </form>
</div>
<!-- end Booking Form -->

</div>
<!-- End of Modal body -->

