{% import "entry_macros.html" as macros %}

{% set is_manager = current_user.is_manager %}
{% set is_admin = current_user.is_admin %}


<div class="container-fluid dashboard-content">
    <!-- Header -->
    {% set title = "Tomo Session" %}
    {% set navigation = [('Tomo Processing', url_for_content('processing_tomo_list')),
                         ('Project %s'|format(tomo_session_id), ''),
                         ('Path: %s'|format(tomo_session['path']), '')] %}
    {% include 'include_header.html' %}

    <div class="row col-12 m-0 p-0" id="session-content">
        {% if mode == 'workflow' %}
            {% include 'tomo_processing_content.html' %}
        {% elif mode == 'widget' %}
            {% include 'project_widget.html' %}
        {% else %}
            {% include 'tomo_session_content.html' %}
        {% endif %}

    </div>

    <div class="row col-12">
        <h5 id="reload_label"></h5>
    </div>
</div>


<script>
    $('select').selectpicker();
    var tomo_session_id = {{ tomo_session_id|tojson }};
    var tomo_session_path = {{ tomo_session['path']|tojson }};


    function projectPath(fileName){
        return `${tomo_session_path}/${fileName}`;
    }

    function showTomogramsStar(){
        let fileName = $("#tomograms_star").val();
        loadStarOverview(projectPath(fileName), 'global');
    }

    function loadRunFileInfo(fileName) {
        // $("#tomograms_star").val(fileName);
        // loadSession();
        visualizeOutput({file_path: fileName});
    }

    function getTomoSession(){
        let args = getFormAsJson('tomo_session_form', true);
        args.session_id = tomo_session_id;
        return JSON.stringify(args);
    }

    function loadSession(doLoad) {
        if (doLoad) {
            setLoading('session-content');
        }
        load_html_from_ajax('session-content',
            get_ajax_content('tomo_session_content', {tomo_session: getTomoSession()}));
    }

    function loadWorkflow() {
        setLoading('session-content');
        load_html_from_ajax('session-content',
            get_ajax_content('tomo_processing_content', {entry_id: tomo_session_id}))    ;
    }

    function loadWidget() {
        setLoading('session-content');
        load_html_from_ajax('session-content',
            get_ajax_content('project_widget', {entry_id: tomo_session_id}))    ;
    }


    function visualizeOutput(output){

        let value = projectPath(output.file_path);

          try {
              var content = null;

              if (value.endsWith('.star')) {
                  let args = {
                    tomo_session: JSON.stringify({
                        path: tomo_session_path,
                        tomograms_star: value
                    })}
                content = get_ajax_content('tomo_session_content', args);
              }
              else if (value.endsWith('.mrc'))
                  content = get_ajax_content('processing_volume_card',
                                             {file_path: value, volume_data: "slices"});


              if (content == null)
                  throw new Error("Missing viewer for file: " + value);

              load_overview(value, content);

            // Return this for triggering the widget viewers
            // return { handled: false };

          } catch (err) {
                showError(err.message);
          }
    }
</script>
