{% import "entry_macros.html" as macros %}

{% set is_manager = current_user.is_manager %}
{% set is_admin = current_user.is_admin %}


<div class="mt-2 p-0">

    <div class="row col-12 m-0 p-0" id="session-content">
        {% if mode == 'workflow' %}
            {% include 'tomo_processing_content.html' %}
        {% elif mode == 'session' %}
            {% include 'tomo_session_content.html' %}
        {% else %}
            {% include 'project_widget.html' %}
        {% endif %}

    </div>

    <div class="row col-12">
        <h5 id="reload_label"></h5>
    </div>
 </div>


<script>
    $('select').selectpicker();
    var tomo_session_id = {{ tomo_session_id|tojson }};
    var tomo_session_path = {{ tomo_session['path']|tojson }};
    var tomo_session_title = {{ tomo_session['title']|tojson }};

    // alert("Running: "+ $('#topbar-content').html());
    $('#topbar-content').html(`<span class="h5 ml-3">Tomography Project:</span><span class="h5 ml-3 text-dark">${tomo_session_title}</span>`);
    // Remove the left sidebar
    //$('.nav-left-sidebar').fadeOut();

    function projectPath(fileName){
        return `${tomo_session_path}/${fileName}`;
    }

    function showTomogramsStar(){
        let fileName = $("#tomograms_star").val();
        loadStarOverview(projectPath(fileName), 'global');
    }

    function loadRunFileInfo(fileName) {
        // $("#tomograms_star").val(fileName);
        // loadSession();
        visualizeOutput({file_path: fileName});
    }

    function getTomoSession(){
        let args = getFormAsJson('tomo_session_form', true);
        args.session_id = tomo_session_id;
        return JSON.stringify(args);
    }

    function loadSession(doLoad) {
        if (doLoad) {
            setLoading('session-content');
        }
        load_html_from_ajax('session-content',
            get_ajax_content('tomo_session_content', {tomo_session: getTomoSession()}));
    }

    function loadWorkflow() {
        setLoading('session-content');
        load_html_from_ajax('session-content',
            get_ajax_content('tomo_processing_content', {entry_id: tomo_session_id}))    ;
    }

    function loadWidget() {
        setLoading('session-content');
        load_html_from_ajax('session-content',
            get_ajax_content('project_widget', {entry_id: tomo_session_id}))    ;
    }


    function visualizeOutput(output){

        let value = projectPath(output.file_path);

          try {
              var content = null;

              // WarpPopulation: directory containing .mrc and .star files
              if (value.toLowerCase().endsWith('population')) {
                  content = get_ajax_content('processing_population_content', {population_path: value});
              }
              else if (value.endsWith('fsc.star')){
                  console.log("Loading FSC plot for: " + value);
                content = get_ajax_content('fsc_plot', {path: value});
              }
              else if (value.endsWith('.star')) {

                  let args = {
                    tomo_session: JSON.stringify({
                        path: tomo_session_path,
                        tomograms_star: value
                    })}
                content = get_ajax_content('tomo_session_content', args);
              }
              else if (value.endsWith('.mrc') || value.endsWith('.mrcs'))
                  content = get_ajax_content('processing_volume_card',
                                             {file_path: value,
                                              volume_data: "slices array",
                                              axis: "z x y",
                                              min_max: "auto"
                                                });


              if (content == null)
                  throw new Error("Missing viewer for file: " + value);

              load_overview(value, content, function() {
                let basename = getBasename(value);
                if (basename.startsWith('tomogram'))
                    loadTomogram(0);
                else if (value.endsWith('series.star'))
                    loadAlignedTs(0);
              });

            // Return this for triggering the widget viewers
            // return { handled: false };

          } catch (err) {
                showError(err.message);
          }
    }
</script>
