
<div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-4">Last updated: <h4>{{ now }}</h4></div>
                <div class="col-4">Next update in: <h4 id="reload_label"></h4></div>
                <div class="col-4"><a href="javascript:reloadWorkers()" class="btn btn-primary"><i class="fas fa-redo"></i> Refresh</a></div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header"><h3>Hosts</h3></div>
        <div class="card-body p-0">

            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-light">
                    <tr class="border-0">
                    <th class="border-0">Alias</th>
                    <th class="border-0">Hostname</th>
                    <th class="border-0">Last update</th>
                    <th class="border-0">Specs</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for hostname, worker in workers.items() %}
                            {% set badge_type = 'warning' if worker['has_specs'] else 'danger' %}
                            {% set badge_type = 'success' if worker['active'] else badge_type %}
                                <tr>
                                <td>{{ worker['alias'] }} </td>

                                <td><span class="badge-dot badge-{{ badge_type }} mr-1"></span>{{ hostname }} </td>
                                <td>{{ worker.get('updated', '') }}</td>
                                <td>{{ worker.get('specs', '') }}</td>
                                </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>

<div class="col-12 mb-3 mt-5 pl-0">
    <a href="javascript:createTask()" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Create Task</a>
</div>

{% for group, tasks in taskGroups.items() %}

    <div class="card">
    <div class="card-header"><h3>Tasks - {{ group }}</h3></div>
        <div class="card-body p-0">

            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-light">
                    <tr class="border-0">
                    <th class="border-0">id</th>
                    <th class="border-0">name</th>
                    <th class="border-0">args</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task['id'] }} </td>
                                <td>{{ task['name'] }}</td>
                                <td>{{ task['args'] }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endfor %}

</div>

