
<div class="container-fluid dashboard-content">
    <!-- Header -->
    {% set title = "Worker Frames " %}
    {% include 'include_header.html' %}

    <!-- workers row -->
    <div class="row col-12 m-0 p-0" id="workers_frames_content">


{% if current_user.is_admin %}


{% for mic, info in folderGroups.items() %}
    <div class="col-auto mb-4" style="min-width: 600px">

    <div class="card">
        <div class="card-header">
           <div class="row">
               <h3 class="col-3">Frames: {{ mic }}</h3>
               <h3 class="col-4">{{ info['frames']|join(', ') }}</h3>
               {% if info['usage'] %}
                   {% set u = info['usage']['used'] %}
                   {% set t = info['usage']['total'] %}
                   {% set p = '%0.f' % (u * 100.0 / t) %}
                   <h3 class="col-4">Used: {{ u|pretty_size }} of {{ t|pretty_size }} ({{ p }} %)</h3>
               {% endif %}
           </div>
        </div>
        <div class="card-body p-0">

            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-light">
                    <tr class="border-0">
                        <th class="border-0">modified (ts)</th>
                        <th class="border-0">name</th>
                        <th class="border-0">root</th>
                        <th class="border-0">movies</th>
                        <th class="border-0">size</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for entry in info['entries'] %}
                            <tr>
                                <td>{{ entry['modified']|pretty_date }} ({{ entry['modified']|pretty_elapsed }})</td>
                                <td>{{ entry['name'] }}</td>
                                <td>{{ entry['root'] }}</td>
                                <td>{{ entry.get('movies', '') }}</td>
                                <td>{{ entry['size']|pretty_size }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>

        </div>

{% endfor %}

{% endif %}


    </div>

</div>

