
<div class="container-fluid dashboard-content">
    <!-- Header -->
    {% set title = "Plates" %}
    {% include 'include_header.html' %}
    {% set is_manager = current_user.is_manager %}
    {% set is_admin = current_user.is_admin %}

    <!-- table row -->
    <div class="row">

        {% if is_manager %}
        <div class="col-12 mb-3">
            <a href="javascript:addPlate()" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Add Plate</a>
        </div>
        {% endif %}

        <div class="col-1">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">Batches</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% for batch in batches %}
                                    <div class="col-12 mb-2">
                                        {% set badgeType = 'dark' if batch.active else 'light' %}
                                        <a href="javascript:loadBatch({{ batch.id }})" class="badge badge-{{ badgeType }} mr-1" id="batch_tag_{{ batch.id }}">B{{ batch.id }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="batch-content" class="col-11 p-0 m-0">
           {% include "batch_content.html" %}

        </div>
    </div>
    <!-- end table row -->
</div>

<!-- ============================================================== -->
<!-- Resource Modal -->
<!-- ============================================================== -->
<div class="modal fade" id="plate-modal" tabindex="-1" role="dialog" aria-labelledby="plateModal" aria-hidden="true">
</div>

<script>
    function onBatchStateChanged() {
        var current_batch = $('#batch_id_hidden').val();
        var status = $('#batch_status_select').selectpicker('val');


        send_ajax_json("{{ url_for('api.update_batch_status') }}", {batch: current_batch, status: status},
            function (jsonResponse) {
                if ('error' in jsonResponse)
                    showError(jsonResponse.error);
                else {
                    // on success update Batch label
                    var batch_tag_id = '#batch_tag_' + current_batch;
                    var classes = ['badge-dark', 'badge-light']
                    var i = status == 'inactive' ? 0 : 1;
                    $(batch_tag_id).removeClass(classes[i]);
                    $(batch_tag_id).addClass(classes[1-i]);
                    //alert("updating " + current_batch + " status: " + status);
                }
            },
            function (jqXHR, textStatus) {   // on fail show error message
                showError("Update Batch Request failed: " + textStatus);
            });
    }

    function onPlateStateChanged(plateId) {
        var switch_id = '#switch_active_plate_' + plateId;
        var status = $(switch_id).prop('checked') ? "active" : "inactive";
        //alert("Plate: " + plateId + " status: " + status);

        send_ajax_json("{{ url_for('api.update_plate_status') }}", {plate: plateId, status: status},
            function (jsonResponse) {
                if ('error' in jsonResponse)
                    showError(jsonResponse.error);
                else {
                }
            },
            function (jqXHR, textStatus) {   // on fail show error message
                showError("Update Plate Request failed: " + textStatus);
            });

    }

    function loadBatch(batch) {
        var ajaxContent = get_ajax_content('batch_content', {batch_id: batch});
        ajaxContent.done(function(html) {
            $('#batch-content').html(html);
            $('#batch_status_select').selectpicker();
            $('#batch_status_select').on('change', onBatchStateChanged);
        });
        ajaxContent.fail(ajax_request_failed);
    }

    function addPlate(plate_id) {
        var params = {
            plate_id: plate_id
        };
        show_modal_from_ajax('plate-modal',
                             get_ajax_content("plate_form", params));
    }  // function showResource

    function onPlateOkButtonClick() {
        var values = getFormAsJson('dynamic-form');
        // Send json data to create the puck
        send_ajax_json("{{ url_for('api.create_plate') }}", values,
            function (jsonResponse) {
                if ('error' in jsonResponse)
                    showError(jsonResponse.error);
                else {
                    // Reload with current batch selected
                    const base_url = "{{ url_for_content('plates') | safe }}";
                    window.location.href = base_url + "&batch_id=" + values.batch;
                }
            }, // on success reload page
            function (jqXHR, textStatus) {   // on fail show error message
                showError("Add Plate Request failed: " + textStatus);
            });
    }

    (function(window, document, $, undefined) {
        "use strict";

        $('#batch_status_select').selectpicker();
        $('#batch_status_select').on('change', onBatchStateChanged);


    })(window, document, window.jQuery);

</script>