
<div class="container-fluid dashboard-content">
    <!-- Header -->
    {% set title = "Plates" %}
    {% include 'include_header.html' %}
    {% set is_manager = current_user.is_manager %}
    {% set is_admin = current_user.is_admin %}

    <!-- table row -->
    <div class="row">

        <div class="col-12 mb-3">
            <a href="javascript:addPlate()" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Add Plate</a>
        </div>

        <div class="col-1">
            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">Batches</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% for batch in batches %}
                                    <div class="col-12 mb-2">
                                        <a href="javascript:loadBatch({{ batch }})" class="badge badge-dark mr-1">B{{ batch }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="batch-content" class="col-11 p-0 m-0">
               {% include "batch_content.html" %}
        </div>

    </div>
    <!-- end table row -->

</div>

<script>
    function loadBatch(batch) {
        var ajaxContent = get_ajax_content('batch_content', {batch_id: batch});
        ajaxContent.done(function(html) {
            $('#batch-content').html(html);
        });
        ajaxContent.fail(ajax_request_failed);
    }

    function addPlate() {
        showMessage("Adding New Plate");
    }

</script>